[2020-10-22 23:56] stishkin opened #6 "testing_summary.json: "total_unique_test_cases" is not an int"
{
    "final_spec_coverage": "9 / 27",
    "rendered_requests": "9 / 27",
    "rendered_requests_valid_status": "9 / 9",
    "num_fully_valid": 9,
    "num_sequence_failures": 0,
    "num_invalid_by_failed_resource_creations": 0,
    "throughput": 3.9059513782074413,
    "total_object_creations": 236,
    _**"total_unique_test_cases": 78.5,**_
    "total_sequences": 435,
    "total_requests_sent":

[2020-10-23 01:00] marina-p opened #7 "generate hashes for bug buckets"
**For every bug found by RESTler, define/compute a unique ID/hash, so that:**

- we can determine how many unique bugs were found across many RESTler runs
- we can determine how many unique bugs were found in deployed RESTler jobs

Note: this ID/hash could be either generated by the RESTler engine and added to some logs, and/or it could be computed in a post-processing phase (so that we can also p

[2020-10-23 01:06] marina-p opened #8 "allow user to specify status codes for which bug buckets should be reported"
The user may have special status codes (e.g. similar to assertions) that they'd like bug buckets reported on regardless of the context.

Examples:
- User is running the RESTler smoke test, and wants all requests to succeed.  They want to consume bugs in the same way as any other bug buckets.  In this case, they would specify 40* status codes in addition to the defaults.

[2020-10-23 21:20] stishkin opened #9 "Improve error message when running replay without authentication on a service that requires authentication"
Message produced by RESTler:

Failed to play sequence from log:
substring not found

[2020-10-24 00:45] marina-p opened #10 "allow examples.json as input to the compiler"
RESTler should be able to have examples be provided/maintained separately from the API specification, similar to annotations and the dictionary.

Currently, when 'DiscoverExamples' is specified, an 'examples' directory is created with discovered examples, and a corresponding examples.json is written.  However, a missing piece is that only existing examples from the API specification can be discove

[2020-10-24 04:39] marina-p opened #11 "restler grammar should support fuzzable elements for format: date-span and uri"
For the following Swagger defined properties:

[code]

Currently, these are compiled to ```restler_fuzzable_string```.

It should instead be ```restler_fuzzable_date_span``` and ```restler_fuzzable_uri```.

[2020-10-26 18:42] marina-p opened #15 "help formatting is hard to read"
Re-format the usage to print in a more compact way on the console.

[2020-10-26 20:27] marina-p opened #17 "improve experience with task directories in use"
From user feedback:
If I have the Test directory open in vscode, I get an exception about trying to delete the Test directory when running restler so that's a little annoying. (running `code Test`).

[2020-10-27 20:38] marina-p opened #19 "restler engine exits with Exception Creating Socket: [WinError 10054] An existing connection was forcibly closed by the remote host"
The above error is hit accessing the API at:
 https://date.nager.at/api/v2/PublicHolidays/2017/AT

Swagger file:
https://date.nager.at/swagger/v1.0/swagger.json

See attached grammar.

[Compile.zip](https://github.com/microsoft/restler-fuzzer/files/5448002/Compile.zip)

The command line is:

Restler.exe test --grammar_file .\Compile\grammar.py --dictionary_file .\Compile\dict.json --settings .\Com

[2020-10-27 20:50] marina-p opened #20 "allow string properties to be fuzzed with non-string types"
Currently, RESTler hard-codes quotes in the grammar around properties/parameters of string types.  This constraint should be removed so it can pass values of any type for string parameters.

**Current behavior for string property**
Grammar.json:
[code]
fuzzing dictionary:
```"restler_fuzzable_string" : ["a", "b", "c"]```

**After this improvement**:
grammar.json:
[code]
dictionary:

```"restler_fu

[2020-10-27 20:58] #7 closed, assigned to rifiles

[2020-10-28 23:18] rifiles opened #23 "Change InvalidDynamicObjectChecker's api-version test to injected_query_string"
Change InvalidDynamicObjectChecker's api-version test to instead say injected_query_string.

[2020-10-28 23:36] marina-p opened #24 "Support yaml specifications"
RESTler currently only parses json specifications.  It should also support yaml.

[2020-10-29 18:46] #19 closed, assigned to rifiles

[2020-10-29 22:26] #24 closed, assigned to nobody

[2020-10-29 22:28] #15 closed, assigned to marina-p

[2020-10-30 18:39] #23 closed, assigned to rifiles

[2020-10-30 21:49] marina-p opened #28 "logsUploadRootDirectoryPath - do not create an extra directory"
The 'RESTlerLogs' directory is not needed.  Only create one sub-directory in the specified root directory.

[2020-10-31 03:19] marina-p opened #30 "analyzer fails to parse network logs"
The results analyzer fails to parse logs with the following stack:

Unhandled exception. System.Exception: Unexpected response without prior request at ...
   at Microsoft.FSharp.Core.PrintfModule.PrintFormatToStringThenFail@1639.Invoke(String message) in F:\workspace\_work\1\s\src\fsharp\FSharp.Core\printf.fs:line 1639
   at Microsoft.FSharp.Collections.Internal.IEnumerator.choose@171.System-Coll

[2020-10-31 04:23] #28 closed, assigned to marina-p

[2020-11-01 05:27] #30 closed, assigned to nobody

[2020-11-04 01:41] marina-p opened #32 "fuzz-lean should allow the user to override the default list of checkers"
The current implementation overwrites the user arguments - this is a bug.

[2020-11-04 01:41] marina-p opened #33 "fuzz-lean should allow user specified checkers"
The current implementation overwrites the user arguments - this is a bug.

[2020-11-04 02:04] marina-p opened #35 "body parameter being treated as a path parameter"
There is currently a bug in dependency analysis, as follows:

PUT /stores/{storeId}/orders
{
...
  "storeId": "123"
}

A producer-consumer dependency is inferred between "storeId" in the body and the
PUT /stores/{storeId}, and set to the same storeId as in the path.  This is not intentional, and is
a bug that should be fixed - the current algorithm is intended only for path dependencies.

[2020-11-04 02:08] marina-p opened #36 "path parameter examples should be supported"
Currently, only query and body examples are supported.  Path examples should also be supported.

The resulting grammar should enable fuzzing paths similarly to how the payload body checker fuzzes bodies, by separately analyzing the schema in grammar.json and extracting relevant values from the dictionary.

[2020-11-04 04:23] #33 closed, assigned to marina-p

[2020-11-04 20:10] marina-p opened #41 "checkers should be off by default in the engine"
Per offline discussion, we will maintain which checkers are on by default in the RESTler driver.  To prevent confusion due to mismatched defaults, the engine should have all checkers off by default.

[2020-11-04 21:59] #36 closed, assigned to marina-p

[2020-11-05 05:50] marina-p opened #43 "crash due to incorrect reference resolution"
schema.Reference can be null even when schema.HasReference is true, because HasReference includes AllOf, OneOf, and AnyOf references

Unhandled exception. System.NullReferenceException: Object reference not set to an instance of an object.
   at Restler.Compiler.SwaggerVisitors.getActualSchema@269(JsonSchema s) in D:\git\restler-fuzzer\src\compiler\Restler.Compiler\SwaggerVisitors.fs:line 270
   a

[2020-11-05 18:53] #41 closed, assigned to rifiles

[2020-11-05 20:26] rifiles opened #46 "Update engine unit test grammar to add examples for examples checker"
Currently examples checker does not get run because there are no examples in the grammar. Add examples and add a unit test that runs the examples checker.

[2020-11-06 00:29] PatGod opened #47 "fix and improve checkers README.md"

[2020-11-07 02:55] #47 closed, assigned to PatGod

[2020-11-07 05:28] marina-p opened #49 "user-specified UseBodyExamples and UseQueryExamples are ignored"
This is another instance of the bug where defaults override user-specified args.

These two need to be fixed:

UseBodyExamples
UseQueryExamples

[2020-11-09 19:47] #20 closed, assigned to rifiles

[2020-11-11 01:58] #43 closed, assigned to marina-p

[2020-11-11 06:30] #17 closed, assigned to marina-p

[2020-11-11 21:30] #46 closed, assigned to rifiles

[2020-11-11 22:29] #49 closed, assigned to marina-p

[2020-11-14 02:52] #6 closed, assigned to rifiles

[2020-11-15 00:32] #35 closed, assigned to marina-p

[2020-11-15 00:33] #32 closed, assigned to nobody

[2020-11-17 15:24] aharpervc opened #60 "dotnet error when running quick start"
The quick start guide says I need an OpenAPI spec (which I have), and then shows a python command (not explicitly stated, but I have python). Running that command gives me this error:

[code]

This seems to imply there are additional steps to get going from scratch not described in the quick start guide. From looking at the readme, there is a "build" section which references dotnet, so I'm guessin

[2020-11-17 15:53] aharpervc commented on #60
After following the build instructions and running the quick start script again, I get this error:

[code]

The readme says that 3.1 or greater is supported, but I wonder if that is accurate since I'm using 5.0 and it's not working?

[2020-11-17 16:02] aharpervc opened #61 "error when compiling (via quick start)"
After installing dotnet 3.1 sdk, rebuilding the program, and re-running the quick start script, I get this error:

[code]

The log file:

[code]

The path `.restler/bin/restler/../compiler/Restler.CompilerExe.dll` seems odd, but `.restler/bin/compiler/Restler.CompilerExe.dll` does exist, along with all the other compilation artifacts. So not sure what the problem is or what the next thing to check

[2020-11-17 18:26] marina-p commented on #60
@aharpervc This is a bug in the README.   At the moment, you need to have dotnet 3.1.0 installed.  Could you please try that, and let us know if this resolves the error?

Re: build instructions, that makes sense, we will add that as a pre-requisite to the quick start (feel free to send PR if you have time).

[2020-11-17 18:30] marina-p commented on #61
@aharpervc Thanks for the detailed feedback!  Can you please share the StdErr.txt log in ```/home/aharper/restler_working_dir/Compile```?

[2020-11-17 18:37] marina-p commented on #61
Re: working dir in the home folder - absolutely, this is a bug, we will fix ASAP.  (This should have been created relative to the cwd).

Re: configurability, we were trying to minimize the arguments required to the quick start script, which is why that configuration option wasn't added for our quick start scenario.

[2020-11-17 18:37] marina-p opened #62 "quick start script should create a working directory relative to cwd"
Currently, it creates it in the home folder:

```RESTLER_TEMP_DIR = Path(Path.home()).joinpath('restler_working_dir')```

[2020-11-17 18:38] stishkin opened #63 "Error when running swagger's petstore sample service"
Ran RESTler on petstore3 (and petstore which is v2 of openapi)

[https://github.com/swagger-api/swagger-petstore](https://github.com/swagger-api/swagger-petstore)

Exception in thread Fuzzer:
Traceback (most recent call last):
  File "/usr/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/RESTler/engine/engine/core/fuzzer.py", line 36, in run
    self._num_total_se

[2020-11-17 18:40] aharpervc commented on #61
Haha okay I guess that error message wasn't clear on _which_ log file to look at...

I reduced my openapi.yaml file to a minimum repro for the same error, then re-ran the script.

[code]

There is a StdErr.txt which shows this:

[code]

[2020-11-17 19:27] rifiles commented on #63
The issue is that a request has a body and a valid schema in grammar.json, but the request body in grammar.py looks like this:

    primitives.restler_static_string("\r\n"),
    primitives.restler_fuzzable_string("fuzzstring", quoted=True),
    primitives.restler_static_string("\r\n"),

Because there is no '{' the payload body checker fails to find the body start, correctly returns a failure, but

[2020-11-17 19:52] marina-p commented on #61
@aharpervc This is unfortunately a failure to parse the yaml by the underlying library (NSwag) we are using.   The root cause of this particular error is the ```required: true```.  As a workaround, if you remove the required, compilation succeeds.

It looks like the library is expecting the below syntax for required schema properties:

[code]

We'd need to investigate further why this is not suppo

[2020-11-17 20:00] aharpervc commented on #61
Odd, that definitely sounds like a bug/limitation of NSwag. Per the OpenAPI spec, [header objects](https://swagger.io/specification/#header-object) are [parameter objects](https://swagger.io/specification/#parameter-object) (with changes to name/in, so unrelated to this). Parameter objects define `required` as an optional boolean, so providing it with a `true` value should be acceptable.

[2020-11-17 20:04] #60 closed

[2020-11-17 21:18] marina-p commented on #63
@rifiles Which endpoint?

[2020-11-17 21:20] marina-p commented on #63
@stishkin Could you please provide the full path to the yaml file you passed to RESTler?

[2020-11-17 21:34] marina-p commented on #63
@rifiles Found it:
# Endpoint: /pet/{petId}/uploadImage, method: Post

[2020-11-17 21:48] #62 closed

[2020-11-17 22:58] marina-p commented on #63
@rifiles
This is currently by design because RESTler only supports bodies of type application/json.

The payload body checker should skip these, as you are already planning to do.

To support this use case, what changes need to be made to the engine?  We probably need the content type in the grammar - let's discuss.

Let's leave the issue open
      requestBody:
        content:
          applicat

[2020-11-18 02:08] marina-p commented on #63
https://petstore3.swagger.io/api/v3/openapi.json

[2020-11-18 02:26] rifiles opened #67 "Payload body checker can't handle bodies that don't start with '{'"
Payload body checker can't handle bodies that don't start with '{'.

For instance, if a body is a list, which is still valid json, it will fail.

It fails first because it can't find the body (doesn't start with '{').
If the above is handled for '[' it will behave incorrectly because it assumes the body will always start with a key value pair, so the replacement bodies are created like this: "": [

[2020-11-18 02:27] rifiles opened #68 "Add --host option to restler-quick-start script"
Add --host option to restler-quick-start script and make it optional.

[2020-11-18 16:27] stishkin opened #69 "Add startup wait for RESTler"
When starting a service under test and RESTler at the same time; RESTler fails with "connection refused" since service under test is still starting up.

Suggestion: Add a startup wait parameter to RESTler. Thus allowing RESTler to ignore refused connection until start up wait timeout expired

[2020-11-18 19:21] marina-p commented on #69
@stishkin I don't think this makes sense as a tool feature in RESTler.  This coordination should be done by the agent or framework that's responsible for starting the service.

[2020-11-18 19:21] #69 closed

[2020-11-18 21:47] #8 closed

[2020-11-18 21:51] #68 closed

[2020-11-19 02:00] rifiles opened #72 "Add retry count to bugs and always retry non-reproducible bugs"
If a bucket is market as ‘non-reproducible’, any subsequent bug matching this bucket should be re-tried as well, and we should count these numbers of ‘reproducibility attempts/retries’ with each bucket.

Currently the bugs are tagged with whether or not they were reproduced, but there is no count for the number of times the bug was seen and if the bug was already found once, it currently will not

[2020-11-19 02:02] rifiles opened #73 "Add ability to disable sensitive data logging in restler (e.g. full network log)"
Add the ability to disable logging in restler that could lead to leaked personal or sensitive information. I.e. request/response data sent to and received from the server.

[2020-11-19 05:20] marina-p commented on #73
To clarify further: this option was proposed for the use case where the user has a RESTler setup where --logsUploadRootDirPath is set, and wants to avoid storing raw network logs.  This primarily applies for cases where RESTler may not be filtering authentication information (e.g. if added in custom headers).

However, wouldn't any bug bucket contain a replay log with the sent request, which would

[2020-11-19 06:58] PatGod commented on #73
Yes, this work item sounds ill-defined. RESTler and the Swagger spec define request going in and the service under test defines what is contained in responses. The RESTler is already in full control of where to store (or keep) network logs. (And telemetry does not include any network traffic.) So what is this item about? Please clarify (possibly with a clear scenario or example). Otherwise, I sugg

[2020-11-19 12:10] I-mpossible opened #74 "Error during compilation"
I was trying to compile [this](https://github.com/jdegre/5GC_APIs/blob/master/TS29510_Nnrf_NFManagement.yaml)

I had the same problem as [#61 ](https://github.com/microsoft/restler-fuzzer/issues/61#issue-744868827) so I deleted the "required" in that spec.

Then I got the following error.
[code]
It seems that it cannot properly find $ref location. So I used [prance](https://pypi.org/project/prance

[2020-11-19 14:42] onmywaytoheaven opened #75 "Is RESTler can handle python scripts as token generation source?"
Hi!
Is RESTler can handle python scripts as token generation source?
Its looks like it is, but i cant get it work.

What i did:

1. Create python script which returns:
`return ("{'appname':{}} + "\n" + "<header-tag-name>: <token>")`
2. Make it executable
3. Run script from command line with its absolute path to enshure that it returns what expected
4. Provide abs. path to script via `--token_refre

[2020-11-19 18:48] rifiles commented on #73
The replay log does indeed contain this data, however the creation of the log could be disabled while still performing the replay, if desired.

[2020-11-19 20:08] marina-p commented on #74
@l-mpossible Thank you for the detailed repro steps.  I don't see a good way to work around this problem in the specification.  If you feel like experimenting, you can try to uncomment the assertion in the code at [1] - the compiler succeeds and may produce a working grammar.  We'll investigate and hopefully fix this in the next couple of days.

[1] See SwaggerVisitors.fs
[code]

[2020-11-19 20:09] marina-p commented on #74
For the refs problem, this is an existing issue in NSwag, and RESTler already works around it for json (SwaggerSpecPreprocessor), looks like the same needs to be done for yaml.  I'll open a separate issue on that.

[2020-11-19 20:15] marina-p commented on #75
Hello,

The full command line is required (same as what you'd run from a command prompt).  Can you try this modified command line (make sure python is on the path, or full path to python)?

[code]

Also, the script needs to print the token info to the console.

[2020-11-19 20:18] marina-p opened #77 "sporadic build failure in CI"
C:\Program Files\dotnet\sdk\5.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(241,5): error NETSDK1005: Assets file 'D:\a\1\s\src\ResultsAnalyzer\obj\project.assets.json' doesn't have a target for 'netcoreapp3.1'. Ensure that restore has run and that you have included 'netcoreapp3.1' in the TargetFrameworks for your project. [D:\a\1\s\src\ResultsAnalyzer\ResultsA

[2020-11-19 21:33] marina-p commented on #73
Closing this as out-of-scope for RESTler.  Such clean-up/log management can be done by the agent or user that invokes RESTler.

[2020-11-19 21:33] #73 closed

[2020-11-19 21:34] marina-p commented on #67
@rifiles Is the missing functionality just to handle json arrays?

[2020-11-19 21:39] rifiles commented on #67
Pretty much, yes.

[2020-11-19 23:21] mgreisen opened #78 "Create a pipeline to build a docker image"
The project https://github.com/microsoft/rest-api-fuz-testing needs a docker image to build on-top of. Create an image built on alpine linux. This should be build pulling from a tag or commit and saved into a test azure repository or pushed public when passing all testing stages.

[2020-11-20 03:36] marina-p opened #81 "can't parse yaml spec due to ref resolution in external files"
See issue #74.  This is due to an underlying issue in the NJsonSchema library parsing external references.  This is already being worked around for json by preprocessing and inlining external refs.  The same workaround needs to be implemented for yaml.

Unhandled exception. System.AggregateException: One or more errors occurred. (Could not resolve the JSON path 'TS29571_CommonData.yaml#/components

[2020-11-20 03:50] marina-p commented on #77
Related: https://developercommunity.visualstudio.com/content/problem/1248649/error-netsdk1005-assets-file-projectassetsjson-doe.html#:~:text=18-,error%20NETSDK1005%3A%20Assets%20file%20%27project.assets.json%27,for%20%27netcoreapp3.1%27.&text=If%20you%20restore%20your%20project,run%20into%20the%20error%20NETSDK1005.

[2020-11-20 04:26] #77 closed

[2020-11-20 05:04] marina-p commented on #61
Linking open NSWag issue: https://github.com/RicoSuter/NSwag/issues/2928

[2020-11-20 06:54] onmywaytoheaven commented on #75
I tried to run restler with full path to python `--token_refresh_command "/bin/python /absolute/path/script.py"`, but it still dont work
Also i tried to:
1. Change `return(...)` to `print(...)` and to `stdout.write(...)`
2. Run `execute_token_refresh_cmd("/bin/python /absolute/path/script.py")` from `engine.core.request_utilities` and it successfully assign `"<header-tag-name>: <token>"` to `lates

[2020-11-20 13:40] onmywaytoheaven commented on #75
Well, it was my mistake. Its was not clear for me, that i need to set `"UseRefreshableToken": true` in compile config
Thank you

[2020-11-20 13:40] #75 closed

[2020-11-20 17:20] PatGod commented on #75
@onmywaytoheaven Thanks for letting us know what the problem was and how you were able to resolve this issue! (Yes, RESTler has many config options...)

[2020-11-20 18:36] marina-p commented on #78
@mgreisen publish-restler.yml will be run within the RAFT project, is that correct?

[2020-11-20 18:37] marina-p commented on #78
@mgreisen It's unclear from the description what change is needed to the existing RESTler CI pipeline.

[2020-11-20 18:59] #9 closed

[2020-11-20 20:20] mgreisen commented on #78
@marina-p
The publish-restler.yml will be run as a pipeline in the ADO restler project. It will not be run as part of the RAFT project.
The existing pipeline changes only include an extra uncompressed pipeline artifact drop.

[2020-11-21 03:11] #81 closed

[2020-11-23 19:40] marina-p commented on #78
Closing since the PR has been merged.

[2020-11-23 19:41] #78 closed

[2020-11-23 19:48] #72 closed

[2020-11-23 19:59] marina-p opened #87 "remove the compiler setting 'UseRefreshableToken'"
The fact that this is a setting in the compiler causes the following two usability issues:

1) The compiled grammar from the quick start cannot be used, just adding authentication (user must find this in the setting, and set it in addition to setting the --token_refresh_command)

2) The grammar can't be easily used for parity testing with vs. without authentication.

## Proposal:

- Always generat

[2020-11-23 20:01] marina-p commented on #87
This addresses the ux issue that led to question #75.

[2020-11-23 20:02] #74 closed

[2020-11-23 20:04] PatGod commented on #87
sounds like a great idea! (keep it simple, we have a lot of options already, the fewer the better... ;-)

[2020-11-23 20:06] PatGod commented on #87
PS: for this change to be backward-compatible, please let's not crash when this option is still specified (in old jobs like from the author of #75), but simply ignore this option (no-op) after this change.

[2020-11-23 20:10] marina-p commented on #87
For the backwards compat, the option data type should be changed to an option type, and the default should be set to:

```UseRefreshableToken = Some true```

Let's discuss how to deprecate these - e.g. we could do so in the next major version update.

[2020-11-23 20:36] marina-p commented on #61
Workaround merged.

[2020-11-23 20:36] #61 closed

[2020-11-24 16:22] JoshuaEN opened #88 "Specifying unique parameters"
Hello,

Is it possible to specify via annotations or a fuzzing dictionary what parameters to a request need to be unique?

#### Use cases
`POST` on `/resources` to create where the server honors the user-provided unique identifier in the request body. [Example repository/branch](https://github.com/JoshuaEN/restler-fuzzer-testing/tree/problem/uniqueness-required) ([RESTler-fuzzer output](https://gi

[2020-11-24 19:43] rifiles commented on #88
Hi Joshua,

To answer your first question about unique resources, I believe this can be solved using the create-once feature. This feature allows you to specify an endpoint in the settings file whose resource(s) will only be created once at the start of the fuzzing run and then deleted at the end of the run.

To do this, include the endpoint in the "per_resource_settings" dict in the settings file

[2020-11-24 20:50] marina-p commented on #88
Hello @JoshuaEN,

One quick pointer before I've had a chance to look at your example project.

1) If by "unique" you mean one specific "magic value" that should always be used, the way to do this is to specify a restler_custom_payload with the exact path to the parameter or property.  What didn't work when you tried adding restler_custom_payload?

2) We don't support equality constraints yet.  If

[2020-11-24 21:56] JoshuaEN commented on #88
Hi Richard,

Thanks for the suggestion. After some testing, using create_once appears to avoid generating HTTP errors, however it also appears to exclude the resource creation and deletion endpoint from the fuzzing. This makes sense, but ideally it would be possible to fuzz endpoints in the future even if they require unique values as parameters.

That said, this is a good work around. Thanks agai

[2020-11-24 22:06] JoshuaEN commented on #88
Hello @marina-p,

Thanks for looking into this. Regarding (1), unique in that the parameter (e.g. `id`) needs to be unique across instances of that resource. A primary key in a database table effectively.

Using the `restler_custom_payload` worked as expected (in that it used the custom payload value instead of the normal fuzzing value), but the REST API requires the parameter is unique across all

[2020-11-25 07:25] marina-p commented on #88
After further investigation -

1. Re: A way to specify which parameter names for a request (or globally) should be unique

This does not work due to a bug, and we will fix it shortly.  This should work by providing the suffix values the same as custom payload is provided, for example:
[code]

This will produce the following grammar:

[code]

RE: And for those unique parameters, which ones within a

[2020-11-25 15:06] JoshuaEN commented on #88
Thank you looking into this further and for the detailed response! It is very helpful to know both of these cases are planned to be supported in the future.

[2020-11-25 21:06] marina-p opened #89 "specifying equality constraints in the restler payload"
Some requests need to pass the same value in multiple places. For example, in this request,
```PUT /resource/{resourceId} { ... "id" : "..." }```
the values of ```resourceId``` and ```id``` need to be equal for it to be accepted.

This should be supported with an annotation, as follows:
[code]

This should be supported in the engine as follows:

1) Any grammar element can have an "id" parameter th

[2020-11-25 21:08] marina-p commented on #89
@rifiles @PatGod Please review the above design and let me know if you see any gaps/issues.

[2020-11-25 23:42] PatGod commented on #89
@marina-p Thanks, makes sense. Should this be a Swagger annotation (as suggested above) or could this be implemented simply as a new dictionary command?
In other words, does this feature impact the compiler? (If yes, then it should be a new Swagger annotation, otherwise it could/should be a new dictionary option -- OK?)

[2020-11-26 00:30] marina-p commented on #89
@PatGod Yes, the compiler needs to be updated, because there is no concept of "property name/path" in the grammar today for the user to specify these only to the engine.

As a separate point, these could be specified in the dictionary (and analyzed by the compiler, similar to restler_custom_payload) instead of an annotation, but it's a bit cumbersome because they are on a per request basis, so the

[2020-11-26 00:42] marina-p commented on #89
@rifiles @PatGod Here's what the dictionary could look like with support for per-resource settings:
[code]

[2020-11-30 16:36] #87 closed

[2020-11-30 18:30] rifiles commented on #89
@marina-p

For uuid4 suffix values, the desired behavior already exists in the engine, I believe, without the need for any changes.

If the same uuid4_suffix key is specified in a request, the same value is duplicated each time it's specified in that request.

For instance, in the below scenario, the houseName value in the endpoint and the houseName value in the body will both be the same (example

[2020-12-01 11:31] letmaik opened #92 "Allow to disable SSL certificate validation"
I'm trying to test an SSL-only API locally where the certificate is self-signed. I couldn't find an option to disable certificate validation.

[2020-12-01 18:16] rifiles commented on #92
Hi Maik,

I believe the command-line option you're looking for is --no_ssl

[2020-12-01 18:28] letmaik commented on #92
[code]

Doesn't sound like it to be honest. Are you sure?

[2020-12-01 18:52] rifiles commented on #92
I'm sorry, I believe you're correct - I answered too quickly. At the moment RESTler doesn't have an option to disable Python's default certificate validation.

The entirety of the SSL code in RESTler can be found in messaging.py and the HttpSock constructor:

[code]

The ssl.create_default_context call performs the certificate checks by default.  I _think_ it should be possible to use ssl._create_

[2020-12-01 20:05] JoshuaEN opened #94 "PayloadBodyChecker documentation"
Hello,

The PayloadBodyChecker appears to have a number of undocumented options (looking at the source code). It would be helpful to have these options documented, including the recipe file.

Use-case:

In my testing, it appears that the default settings for the payload body checker result in trying a low number of payload combinations, often ever sending a single value for most of the body parame

[2020-12-01 20:31] PatGod commented on #94
@JoshuaEN Thank you for your feedback. The algorithms and techniques used in the PayloadBodyChecker are described in this paper: Intelligent REST API Data Fuzzing​​ (FSE'2020) https://patricegodefroid.github.io/public_psfiles/fse2020.pdf

Most of this checker's settings are discussed in that paper.

Since there are many(!) possible setting configurations, the default settings roughly match what wa

[2020-12-01 20:34] JoshuaEN opened #95 "Falsy PayloadBodyChecker settings are ignored when the default is Truthy"
Hello,

It appears that falsy PayloadBodyChecker settings are ignored when the default is truthy.

Example: Note how `size_dep_budget` is set to false in [engine_settings.json](https://github.com/JoshuaEN/restler-fuzzer-testing/blob/problem/payload-body-settings-ignored/Server/restler-fuzzer/results/Compile/engine_settings.json), it is loaded and reported as True in [PayloadBodyChecker.22992.txt](

[2020-12-03 01:28] #94 closed

[2020-12-03 05:27] #88 closed

[2020-12-03 12:36] rennhard opened #98 "Help needed with NameSpaceRuleChecker"
Hello,

I have managed to successfully test several of the checkers using an intentionally vulnerable test application I developed, but so far, I have had no luck with this checker.

The scenario is as follows:

- customer1 can POST messages to /customers/customer1/messages
- customer2 can do the same to /customers/customer2/messages

They can GET a message back (that has a specific messageID) usi

[2020-12-03 18:55] rifiles commented on #98
Hi Marc,

Thanks a lot for your thorough writeup.  This checker had been moved out of the default fuzzing strategy and thus neglected in testing.  There looks to be a bug rendering this checker inoperable at the moment. I'll get it fixed today.

Thanks again!

[2020-12-03 20:08] JoshuaEN commented on #94
@PatGod Thank you for the link, it was very helpful in understanding not just what features are available, but why they are useful.

No. I tried the default, the recipe I linked (which I now realize is rather flawed), and a few others built around the recommendations from that document with larger `value_max_combination` values. None found any bugs in the API I'm testing.

Having read the document

[2020-12-03 22:45] JoshuaEN opened #99 "[Question] RESTler's Fuzzing "Goal"?"
Hello,

I am wondering what the "goal" is for RESTler's fuzzing functionality: In general terms, is RESTler is intended to replace, or supplement, other HTTP fuzzing tools?

My understanding is its the former (replace), but I wanted to confirm.

Thanks!

---

For context, here are some examples that seem like gaps in fuzzing:
1. Valid parameter combinations are not fuzzed for endpoints with `examp

[2020-12-04 00:49] PatGod commented on #99
@JoshuaEN Thanks for your feedback. RESTler is not meant to replace web-scanners (looking for SQL injections, XSS attacks, etc.) or 'manual/interactive' testing tools like curl or Postman. See also the comment in "Systematic bug hunting over unit testing" in the "design Principles" of https://github.com/microsoft/restler-fuzzer/blob/main/docs/contributor-guide/Contributing.md

Fuzzing means automa

[2020-12-04 00:50] #98 closed

[2020-12-04 10:17] rennhard opened #101 "ResourceHierarchyChecker False Positive"
Hello,

I think there's a bug with this checker that leads to false positives. The following sequence triggers a ResourceHierarchyChecker vulnerability:

This request creates **customer1**:

2020-12-04 11:03:13.322: Sending: 'PUT /Marketplace_vuln_fixed-rest/rest/customers/**customer1** HTTP/1.1\r\nAccept: application/json\r\nHost: 10.0.0.21:8080\r\nContent-Length: 0\r\nUser-Agent: restler/7.1.0\r

[2020-12-04 18:44] PatGod commented on #101
@rennhard Hello, thank you for your feedback. What you describe looks indeed very strange. Specifically, we do not understand why the ResourceHierarchyChecker would ever flag the behavior above since message-ID=12 is a child of customerID=customer1 (the POST request you describe should establish this parent-child relation).

Could you please share with us the network logs and the ResourceHierarchy

[2020-12-04 19:18] JoshuaEN commented on #99
@PatGod thank you for the detailed response! "another important goal of RESTler is to perform fuzzing 'intelligently'" in particular gives me a clearer picture of what is in scope.

---

These were observed in fuzz mode, with all checkers on.

---

When an endpoint has "x-ms-examples"/"examples" provided, the fuzzing RESTler's runner normally does (trying candidate combinations [of parameters], up

[2020-12-04 21:38] rennhard commented on #101
Hi Patrice

I don't have the original logs anymore, but did another run, which shows the same behavior (now with messageID=10).

--Marc

[network.testing.140491490572032.1.txt](https://github.com/microsoft/restler-fuzzer/files/5645643/network.testing.140491490572032.1.txt)
[ResourceHierarchyChecker_20x_1.txt](https://github.com/microsoft/restler-fuzzer/files/5645644/ResourceHierarchyChecker_20x_1.

[2020-12-04 22:33] PatGod commented on #101
Hi Marc, thanks for the repro info. The checker output is interesting:

[code]

The checker complains that the second GET request referring to resource messageID:10 is successful after executing only the first PUT request -- that is, without executing the POST request creating the resource messageID:10.

Note that, in general, this is a real security bug and not a false alarm: if an attacker can g

[2020-12-04 22:52] #95 closed

[2020-12-04 22:59] rifiles commented on #101
@PatGod That description sounds perfect to me.

To add, for this example the customer1 / customer2 line will need to be updated to restler_custom_payload_uuid4_suffix('customerID') in the grammar (it's currently restler_fuzzable_string).

[2020-12-05 13:42] rennhard commented on #101
Yes, this makes sense. I did another run with randomly generated customer IDs and the issue is not reported.

Thanks a lot, I'm closing the issue.

[2020-12-05 13:42] #101 closed

[2020-12-06 03:15] I-mpossible opened #103 "uuid4 and grouptag not quoted"
I'm using this spec
https://github.com/jdegre/5GC_APIs/blob/master/TS29518_Namf_Communication.yaml

In grammar.py generated by compiler, there's option quoted=True. But capturing with wireshark shows that it's not quoted.
[code]

![image](https://user-images.githubusercontent.com/26900284/101270407-be851b00-37b3-11eb-8363-544767f5c7ab.png)

Same thing happens with grouptag
[code]

![image](https:/

[2020-12-07 17:40] rifiles commented on #103
Hello,

Thanks a lot for filing this issue and providing the detailed description. We'll look into this right away.

[2020-12-07 19:39] PatGod commented on #99
@JoshuaEN Thank you for your detailed reply. What you write is correct, so I won't comment further.

There may be two new action items coming out of this discussion:
(1) how to extend the payloadbody checker to fuzz query parameters? (or create a new QueryParameter checker)
(2) revisit how examples are handled by RESTler in fuzz mode

We'll keep these in mind...

[2020-12-07 20:08] JoshuaEN commented on #99
@PatGod Thanks for following up and taking my suggestions into consideration!

Closing this since my original question was answered.

[2020-12-07 20:08] #99 closed

[2020-12-08 07:23] rennhard opened #104 "NameSpaceRuleChecker: Questions and possible bug with DELETE"
Dear developers

I'm aware that this checker is currently off by default, but nevertheless I played around with it and have a few questions about it. It's basically three questions in one issue, but they are related to each other so I'm including them in one issue.

To test, I'm using the following REST API:

**POST /rest/admin/products/{username}**
=> This creates a product provided by user {user

[2020-12-08 20:53] PatGod commented on #104
@rennhard Hi Marc, thanks for your detailed feedback and questions. Here are some answers.

Yes, by design, the NameSpaceRule checker intentionally flags this access by user-2 of a dynamically-created resource created by user-1. This is to err on the safe side: the checker reports all such (potentially dangerous) valid accesses, at the risk of reporting false alarms in some contexts.

If you set `

[2020-12-09 18:49] #103 closed

[2020-12-10 18:51] rifiles opened #106 "Crash while rendering request created in examples checker"
A crash was identified when running the examples checker :

Exception in thread Fuzzer:
Traceback (most recent call last):
  File "C:\Python38\lib\threading.py", line 932, in _bootstrap_inner
    self.run()
  File "C:\restler_bin\engine\engine\core\fuzzer.py", line 36, in run
    self._num_total_sequences = driver.generate_sequences(
  File "C:\restler_bin\engine\engine\core\driver.py", line 578,

[2020-12-10 18:54] rifiles opened #107 "Driver should output a failure when stderr is not empty"
Currently the RESTler driver will output Task Succeeded at the end of a fuzzing/test run even if the run crashed and the stderr.txt file is not empty. This output should let the user know that there was an error, so they can investigate and not assume that the run completed successfully.

[2020-12-10 21:32] #106 closed

[2020-12-11 23:27] rifiles opened #110 "Add exception handling to fuzzing engine and return non-zero exit code if one is triggered"
Add exception handling to fuzzing engine and return non-zero exit code if one is triggered.

Currently the fuzzing thread will simply terminate if there is an exception and the main thread will continue and complete as though there was no issue.

[2020-12-12 02:25] #107 closed

[2020-12-12 12:53] rennhard commented on #104
Hi Patrice

Thanks a lot for the feedback. Setting `"mode":"exhaustive"` does not help to detect the DELETE issue. I'm using the following setting file:

[code]

Note that when adding a bug to the REST API so that when calling DELETE the resource is not deleted, then the issue (sequence POST user1, DELETE user2) is correctly detected (as DELETE now returns 200 and not a 4xx status code because the

[2020-12-12 22:11] PatGod commented on #104
Can you please attach the full network.testing.xxx logs?

[2020-12-13 14:22] rennhard commented on #104
I'm adding two network logs:

- network.testing.140006863460096.1.txt: This is based on the REST API that does not actually delete the resource when DELETE is called (but it still returns status code 204). Here, the NameSpaceRule Checker finds the vulnerability with the sequence POST-DELETE. And there's also a vulnerability reported by the UseAfterFree checker because the resource is not deleted.

[2020-12-14 18:57] PatGod commented on #104
Thanks for these network logs. But can you please confirm that these logs were obtained with
[code]
? (They do not look like it...) Thanks again!

[2020-12-14 23:43] #110 closed

[2020-12-15 08:36] rennhard commented on #104
I'm pretty sure I'm using exhaustive mode. I'm using the following file `user-settings.json` on the command line with `--settings user-settings.json`:

[code]

The reason why I also added the rule for invaliddynamicobject was to make sure the settings file is working (as I get such a vulnerability without the settings file and it went away when using the settings file), as the output files of fuzz

[2020-12-15 17:09] rifiles opened #112 "Update Namespace Rule checker to stop replaying the last request"
Currently the namespace rule checker replays the entire sequence prior to sending the attack request.  In the case of DELETE requests, resending that request can lead to false negatives because the resource would typically be successfully deleted during the replay.  The checker's attack request would then receive a response akin to a 404, which would not trigger a bug in the checker even if the at

[2020-12-15 17:12] rifiles commented on #104
Thanks Marc.  I've created a new issue to stop the checker from replaying the final request in the sequence prior to sending the attack request. This should hopefully relieve the issue surrounding false negatives when attacking with DELETE requests. I'll look more into what's going on with exhaustive mode as well.

[2020-12-15 20:04] PatGod commented on #112
Related to issue/question #104

[2020-12-15 20:07] PatGod commented on #104
Thanks again Marc.

To be clear, there are 2 distinct action items:
- the Namespacerule checker should test the 'POST;DELETE' sequence even in non-exhaustive mode - new issue #112 has been filed to address this.
- the network logs above do not show all the consumer requests being tried in exhaustive mode (as we had expected) - this should be investigated as well (either the exhaustive mode was not

[2020-12-16 15:50] JoshuaEN opened #114 "Support producers that return no content"
Hello,

I have an endpoint (in an existing API) that creates a resource, but returns 204 (No Content) and no Location header. The request itself contains the identifier for the created resource, and RESTler could (in theory) get the dependency information from the request body rather than the response.

I'm not sure how common this pattern is. Would supporting this use-case be in-scope for RESTler

[2020-12-16 23:47] #112 closed

[2020-12-17 07:52] rennhard commented on #104
Thanks a lot for taking care of this.

I'm closing this issue.

[2020-12-17 07:52] #104 closed

[2020-12-17 14:53] rennhard opened #116 "restler_custom_payload_uuid4_suffix used with PUT path parameter, but not with POST body parameter"
When having a request `PUT /users/{username}` that allows to create users, grammar.py uses

`primitives.restler_custom_payload_uuid4_suffix("username") `

to create random usernames.

When having instead a request `POST /users` that uses a parameter username in the body (also to create users), grammar.py uses

`primitives.restler_fuzzable_string("fuzzstring", quoted=True)`

for the username parame

[2020-12-17 18:14] PatGod commented on #114
Hi Joshua, thanks for your suggestion. We'll investigate how this scenario could be supported... (Because of the upcoming holidays, please expect some delay...)

Happy Holidays!

[2020-12-17 21:59] JoshuaEN commented on #114
Thanks! Happy Holidays!

[2020-12-17 22:32] marina-p commented on #116
Hello @rennhard,

We recently fixed a bug in configuring unique parameters.  Could you please confirm that setting the dictionary as you have described (copied below) does not work in the most recent build of RESTler?  This is the correct configuration, and should work.  One potential issue with it is that a global replacement for username will be performed, and you may need to use an inline ```pe

[2020-12-17 23:55] PatGod commented on #104
Just to conclude:
- the first point above was fixed with issue #112
- the second point above: after further investigation, my understanding of the exhaustive mode was wrong (my mistake) and there was no glitch here.

Thanks again for your feedback.

[2020-12-19 01:17] mbiuki opened #118 "Initial run results analysis"
The initial run result analysis as described in https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/QuickStart.md
should print a json format upon completion as it follows in the example:

{
    "found_requests": "29",
    "attempted_requests": "3",
    "successful_requests": "2",
    "coverage": "7%",
    "bugs_found": "0"
}

And persisted to a file restler_quick_start_results.js

[2020-12-19 17:26] rennhard commented on #116
Thanks for your response.

I'm using the latest version, I just checked again. I tried to solve it with `per-resource_settings`, but I think that can't work as these settings have no effect to the generated `grammar.py` (this is where the "problem" is introduced), as this setting can only be used with test/fuzz-lean/fuzz but not with compile (right?).

Anything else I could try? Otherwise, this is

[2020-12-21 23:48] mbiuki commented on #118
Ok, sounds good. If everything by running the restler-quick-start.py command looks normal, this ticket may be closed. Thanks for your confirmation. It appears that it is ok that the print jason format (as described in QuickStart.md) is not being displayed once the command is run and from the above reply it looks like it is ok. Yes, I have those directories and reports generated.

[2020-12-22 00:11] #118 closed

[2020-12-23 00:15] rifiles commented on #92
Hi Maik,

I made a quick update on branch rifiles/92.  Would you mind giving it a try on your API when you get a chance?

To disable you'll just need to add ```"disable_cert_verification": true``` to the settings file.

Thanks a lot

[2021-01-01 01:39] #67 closed

[2021-01-04 19:02] marina-p commented on #116
Hi Marc,  Happy New Year,

There may be something specific to your grammar that is preventing the uuid4_suffix from being configured via the dictionary.  If you have a few minutes, as a sanity check, could you please try compiling the demo_server grammar (/demo_server/swagger.json) and the following dictionary:
[code]

Attached is the grammar we get, which has the uuid4_suffix entry in the body.

[2021-01-04 21:47] stishkin opened #122 "Compiler crashes when running on https://api.hackerone.com/v1/api-docs/v1/swagger.json"
tried to run RESTler on https://api.hackerone.com/v1/api-docs/v1/swagger.json

RESTler compiler crashed with :

Unhandled exception. System.AggregateException: One or more errors occurred. (Could not resolve the path '#/components/schemas/automated_remediation_guidance'.)
 ---> System.InvalidOperationException: Could not resolve the path '#/components/schemas/automated_remediation_guidance'.

[2021-01-05 21:15] marina-p commented on #122
@stishkin This looks like a bug in the specification.  That path is not present in the specification, which causes the parsing exception.

[2021-01-06 19:08] #122 closed

[2021-01-09 08:24] rennhard commented on #116
Hi Marina

Now that's interesting: The grammer.py file I'm getting from swagger.json (when using the dictionary you proposed) uses

[code]
 in the body parameter of the POST request and not a randomly created identifier.

I attached the files I used for compiling and also the resulting grammar.py and I used the following command for compiling:

`./restler_bin/restler/Restler compile /home/user/Des

[2021-01-11 05:57] varunr-uc opened #124 "invalid syntax"

[2021-01-11 19:35] marina-p commented on #124
Hello @varunr-uc,

It looks like you removed the description.  If you still see an issue, could you please update it?

[2021-01-13 05:08] #124 closed

[2021-01-13 10:27] chanduaki opened #127 "Queries regarding Compiling"
# Summary

Showing code code zero, even though all tests were run

[code]

[2021-01-14 07:00] varunr-uc opened #128 "Restler.exe: No such file or directory"
https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/Compiling.md
created a directory (mis@mispl-wkstn-87:~/restler_bin)
cloned (git@github.com:microsoft/restler-fuzzer.git) in mis@mispl-wkstn-87:~/restler-fuzzer
ran (python ./build-restler.py --dest_dir <full path to restler_bin above>) in (mis@mispl-wkstn-87:~/restler_bin)
========
while running below command:
mis@mispl-wkstn-87

[2021-01-14 16:44] Luukvdm commented on #128
The file restler/Restler.exe doesnt exist. Maybe try ``dotnet restler/Restler.dll compile`` instead.
Also, since you are using bash, executing .exe files on Linux probably wont work if thats what you are doing.

[2021-01-18 05:22] varunr-uc commented on #128
dotnet restler/Restler.dll compile --api_spec /home/mis/restler-test/openapi.json
**output:**
Log share was not specified.  Logs will not be uploaded.
Starting task Compile...

ERROR: Compiler failed. See logs in /home/mis/restler_bin/Compile directory for more information.

Task Compile failed.
Collecting logs...
The grammar file is not present. Is that im missing any steps?
The results of the ab

[2021-01-18 09:49] ruowan opened #129 "Invalid syntax"
I try to run restler-fuzzer against demo service. But I got this error.

[code]

[2021-01-19 16:54] stishkin opened #130 "RESTler crashes when running Test step on Wordpress"
[logs.zip](https://github.com/microsoft/restler-fuzzer/files/5837351/logs.zip)

Log ZIP file includes:
- grammar.json
- grammar.py
- main.txt
- request_rendering.txt
- network.testing.139831826148128.1.txt

Exception in thread Fuzzer:
Traceback (most recent call last):
  File "/usr/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/RESTler/engine/engine/core/fuzzer.

[2021-01-19 16:54] joshi-mohit commented on #63
Has anyone exercised the petstore server (with openapi v3) with restler. Need some some details on how it has been run (compiled with restler and on basic run getting all 404/405 errors -- which seem reasonable so wanting to under what prework/config is required on petstore so that restler can be used

[2021-01-20 07:39] varunr-uc commented on #128
Any updates for the above comment?

[2021-01-20 13:13] joshi-mohit opened #131 "Applications and required configs (spec and any modifications in grammar)"
Is there any sample application (container) and its open-api spec which can be used as a learning example for restler, especially one having authentications features with tokens/user-name/passwords
(vulnerable-api/petsore etc have very high faulire especilly related to authorization). Unless there is a challenge here

[2021-01-20 16:19] joshi-mohit opened #132 "Is this valid primitives.restler_fuzzable_int(['1', '2']) or primitives.restler_fuzzable_string(['abc', 'def']),"
This is not being honered and can see the values being picked are beyond the range? (for example can see 0 as a value)

[2021-01-20 19:08] marina-p commented on #132
Hello @joshi-mohit,

Could you please clarify your goal - do you want just a particular part of the payload (instead of all fuzzable_int values, which would be set through the dictionary) to have the values [1, 2]?

If yes, and you want to edit the grammar directly, the syntax for this is to use ```restler_fuzzable_group``` as follows:

[code]

The syntax you tried is not supported in the grammar,

[2021-01-20 19:25] marina-p commented on #131
Hello @joshi-mohit,

Currently, demo_server is the only sample app included.   We can add more documentation as you suggest (I will leave this issue open for this purpose).

Specifically for petstore, what authentication configuration did you try, and what error do you see?

[2021-01-20 19:28] marina-p commented on #129
Hello @ruowan,

Could you please share the full command line you used to invoke RESTler, and also the output of ```python --version```?

[2021-01-20 19:32] marina-p commented on #128
Hello @varunr-uc,

When the RESTler task (compile, test, fuzz) fails, StdErr.txt should have the error details.  Can you share the contents of this file?

[2021-01-20 19:36] marina-p commented on #127
Hello @chanduaki,

Depending on your API, you may need to further configure the auto-generated files from the compilation step and other settings passed to the engine (dictionary, authentication, etc.).  Please see the documentation here for an explanation of how to improve coverage:  /docs/user-guide/ImprovingCoverage.md.

Please let us know if you run into specific issues with the configuration

[2021-01-21 02:37] ruowan commented on #129
Full command
[code]

$ python --version
Python 3.8.0

[2021-01-21 04:27] joshi-mohit commented on #132
Thanks Marina.
On the value being 0 -- you are right so since the value was in dictionary so as said it must be getting overridden.

I am trying to test the behavior of restler with a vulnerable-api server (https://github.com/jorritfolmer/vulnerable-api). The current open-api spec for the server is not too descriptive on dependencies or parsing the responses. For example /tokens when specified wit

[2021-01-21 05:45] varunr-uc commented on #128
Unhandled exception. System.AggregateException: One or more errors occurred. (Could not resolve the path '#/paths/~1search/post/responses/400'.)
 ---> System.InvalidOperationException: Could not resolve the path '#/paths/~1search/post/responses/400'.
   at NJsonSchema.JsonReferenceResolver.ResolveDocumentReference(Object rootObject, String jsonPath)
   at NJsonSchema.JsonReferenceResolver.ResolveR

[2021-01-24 12:37] NickBishop2112 opened #134 "TypeError: __init__() got an unexpected keyword argument 'capture_output'"
Following the install instructions to install restler-fuzzer, but I am getting this issue:

[code]
I have tried ` Python 3.8.6`  and ` Python 3.8.9`.  But still have the same issue.

Example commands I tried was:

[code]
Seems to be a common Python issue.

[2021-01-25 21:25] marina-p commented on #134
Hello Nick,

Thanks for reporting this.  I'm not able to reproduce the error with the above versions.  Could you please double check the version?   The below command line in the build script should be faster to repro:

[code]

[2021-01-25 22:08] marina-p commented on #132
Hi,

If you see this type of failure, more error information can be found in the following log files in the task directory (e.g. the 'Test' directory):
- EngineStdErr.txt
- restler-*.log

If you're still hitting this, can you please attach these files to this issue?

I get a successful test run with your grammar element above - to confirm, the following line will be printed in the network log (net

[2021-01-25 22:09] marina-p opened #135 "enhance documentation for custom payloads"
As discussed in related issue #132, it would be useful to have more detailed examples of the different types of supported custom payloads.  Currently, only the basic syntax is described in FuzzingDictionary.md

[2021-01-26 09:30] victomteng1997 opened #136 "Adding token_refresh_command causes fuzzer to skip testing"
I am trying to add python script to generate login token as described in #75 , and I'm basically using the same token generation script.

The fuzzer works normally when I don't add `--token_refresh_command` and `--token_refresh_interval`.
When I try to execute command
`./Restler.exe test --grammar_file Compile/grammar.py --dictionary_file Compile/dict.json --settings Compile/engine_settings.json -

[2021-01-26 23:27] marina-p commented on #136
Hello @victomteng1997,

If you haven't already tried this - to debug this, the simplest approach is to print a static value from your python token refresh script (it sounds like maybe this is what you need anyway), so your python script will look like:
[code]

(The format is documented in /docs/user-guide/Authentication.md.  The first line is a required metadata line for all the tokens.)

If this

[2021-01-27 02:51] victomteng1997 commented on #136
Thank you for the help!

After some simple debugging, I believe that the problem is in unicode encoding of the metadata. Previously I was using the format of `print("{'myapp': {}}\n")`, and after I switch to the format of `print("{u'myapp': {}}\n")`, the fuzzer functions normally.

As for `restler_custom_payload_header`, I will also try that approach since it seems to be more robust and easy to de

[2021-01-27 02:51] #136 closed

[2021-01-27 11:24] jagijagijag1 commented on #129
I had the same problem, but the following works for me.

[code]

In my environment, although `python --version` outputs Python 3.8.x due to the alias like `alias python="python3"`, RESTler seems to use `/usr/bin/python` that is a symbolic link to Python 2.x.
So changing the symbolic link solved the problem in my case.

Hope it works for you.

[2021-01-28 06:37] varunr-uc commented on #128
Any updates on the above error?

[2021-02-01 16:49] stishkin commented on #92
@letmaik - Are you running on Linux or Windows ? We are using RESTler on Linux container and using these instructions to add certificates to Linux store worked for us.

https://askubuntu.com/questions/645818/how-to-install-certificates-for-command-line

[2021-02-02 14:23] letmaik commented on #92
The certs are temporary and I'd like to avoid adding them system-wide. A CLI flag to define the cert to use or alternatively an option to disable cert validation sounds more attractive to me.

[2021-02-03 21:31] miriver opened #138 "Option to not use SSL certificate verification"
I propose that an option is added to use SSL without certificate verification.

I have my API service set up locally with a self-signed certificate. Unfortunately, Restler fails to make requests due to the certificate validation failing. Restler doesn't seem to have an option to use SSL but not validating the certificate, only to not use SSL at all.

I was able to fix this myself by changing line

[2021-02-10 01:23] marina-p commented on #138
Hello Miguel,

This option should be supported.  It is already being discussed in #92.

Would you mind testing if the update in branch rifiles/92 works for you, and if so send a PR or let me know it's good to merge?  It includes the change you proposed above, plus adding the option.

Thanks!

Marina

[2021-02-10 13:00] WaelAbuSeada opened #141 "Support OData fuzzing"
Can you consider support for OData fuzzing?

I can see there are mainly 2 issues,
1- parsing path like: /companies({company_id})
2- Dealing with query string options like $filter, $select

[2021-02-16 22:45] zar-ai opened #144 "Is restler-fuzzer is available for async-REST-API ?"
Getting following error in StdErr.txt

Unhandled exception. System.AggregateException: One or more errors occurred. (Could not resolve the path '#/components/schemas/User'.)
 ---> System.InvalidOperationException: Could not resolve the path '#/components/schemas/User'.
   at NJsonSchema.JsonReferenceResolver.ResolveDocumentReference(Object rootObject, String jsonPath)
   at NJsonSchema.JsonReferen

[2021-02-18 23:19] marina-p commented on #144
Hello @zar-ai,

This looks like an issue parsing a Swagger spec with external file references.  Would you be able to attach the OpenAPI specification of your API or a minimal specification that reproduces this issue so we can investigate further?

Thank you,

Marina

[2021-02-18 23:21] marina-p commented on #138
PR is merged, closing the issue.

[2021-02-18 23:21] #138 closed

[2021-02-19 20:17] zar-ai commented on #144
Hi Mariana, Thanks for the response.

it's my internal API, thus I can not share the spec. but it gives errors for the similar part of the spec
 "items": {
                    "$ref": "#/components/schemas/User"
                  }

[2021-02-19 21:14] marina-p commented on #144
That definition is supported.  For example, I can compile the following: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore-expanded.json.  It might be a corner case that prevents the ref from compiling, e.g. it is in a different file, deep inside some other schema, etc.

[2021-02-19 22:42] marina-p opened #145 "add convenient way to find location of relevant log entries corresponding to each entry in speccov.json"
Add a guid to the network log for requests reported in spec coverage.  This should be printed right before or after the relevant request, which will be the last request in the sequence logged.

[2021-02-19 23:40] zar-ai commented on #144
thanks, @marina-p

[2021-02-19 23:40] #144 closed

[2021-02-20 01:39] c-simpson opened #146 ".NET Host has stopped working"
In using the instructions in `Compiling.md`, I get repeated failures when seeking to compile the `config.json file`.  I started with what I assume to be a known-good file, ` restler-fuzzer/demo_server/swagger.json`.

`restler  compile --api_spec swagger.json` writes several files into the Compile directory but they seem to get deleted in process, so I copied the Compile directory to CompileSave an

[2021-02-20 19:24] c-simpson commented on #146
Reading comprehension problem on my part.

[2021-02-20 19:24] #146 closed

[2021-02-23 21:38] marina-p opened #147 "enable specifying which version of Python to use to the RESTler driver"
This would ease configuration when RESTler is running in a custom environment with several versions of Python.

[2021-02-23 21:49] marina-p opened #148 "the default max_combinations should be 20 everywhere"
Due to a refactoring bug, this is currently 1000 which causes unexpected combination explosion when there are many parameters (e.g. enum values).

This should be modified so it is 20 by default:
- in the engine
- in the compiler-generated settings
- in the documentation, and the user should be instructed to increase this for Fuzz mode.

[2021-02-24 22:09] #145 closed

[2021-02-24 22:10] #148 closed

[2021-03-02 03:41] heavenmyth opened #152 "How to set server authentication during fuzzing？"
How to set server authentication during fuzzing？

[2021-03-04 18:58] marina-p commented on #152
Hello @heavenmyth,

Could you please include more specific information about what type of authentication your service supports?  RESTler currently supports a "token refresh command" which allows you to run an arbitrary program or script to get a fresh token - see /docs/user-guide/Authentication.md

[2021-03-04 21:48] mbiuki opened #153 "infer the payload based on examples"
By testing and from user guide documentation (/blob/main/docs/user-guide/Examples.md), I find that RESTler compiler does not use examples in the swagger to construct a valid string for a number of properties. For example for `lastDoneBefore' in the swagger file we have:

[code]

RESTler cannot interpret the examples in the schema above to construct a valid string for lastDoneBefore.
This probably

[2021-03-05 19:00] LewisArdern opened #154 "MacOS/Linux Support?"
Does this tool support Mac/Linux?

When I compiled the tool and ran the quick-start.py I saw in the error:
* python3 restler-quick-start.py --api_spec_path $REDACTED/data/file.json --restler_drop_dir $REDACTED/restler-fuzzer-7.2.0/restler_bin
*  System.Exception: Platform not supported

The documentation only references Windows, so it would be nice to know if windows is the only intended target.

[2021-03-05 19:06] PatGod commented on #154
Please see the main README.md https://github.com/microsoft/restler-fuzzer :

RESTler was designed to run on 64-bit machines with Windows or Linux.

[2021-03-05 19:10] LewisArdern commented on #154
Sure, but all the documentation is for Windows.

[2021-03-06 01:42] marina-p commented on #154
Hello,

It should work on Linux, but we have only been testing on Ubuntu (restler-quick-start.py is running in the build pipeline).  Could you please share more about the system and setup you have?

Correct, MacOS isn't supported.

Thanks,

Marina

[2021-03-06 17:49] LewisArdern commented on #154
I was trying on MacOS to start with, I'll switch over to Ubuntu and go from there.

If I did not want to use reslter-quick-start and manually invoke the process separately e.g. compile is there examples of how I may do that for linux?

[2021-03-08 11:23] LYDE1234 opened #155 "Projct maturity and roadmap"
Great project! my concern is: what's the current maturity level and roadmap? I'm trying this out for our organization and would like to communicate clearly how reliable and future-proof RESTler will be if we decide to build our fuzz testing strategy around it.

[2021-03-08 21:00] marina-p commented on #154
TutorialDemoServer.md shows the separate phases, though it's currently Windows-specific.  I'll go through it and send a PR in the next day or so to add Linux commands.

I believe the only things that need to be changed in that tutorial for Linux are the path to the executable (```./restler/Restler```) and the paths in the arguments.

[2021-03-09 19:13] mbiuki commented on #153
In addition to the above, I also find that the header in parameters from the swagger is not compiled into the grammar.json. I would have to do it manually. For example:

[code]

Our header requests require that we have **App-ID**. So I have to edit the grammar.json file:

[code]

[2021-03-10 00:04] mbiuki commented on #11
Is there any property to use for DateTime strings such that their name from/to that is from the swagger translated to proper date-time string format?

For example, OpenAPI YAML:
[code]

instead of being translated to fuzzstring;
[code]

Could it be translated to:

[code]

And what is the short-term solution to bypass 400 errors b/c of the above problem?

[2021-03-10 00:10] alexbrahastoll commented on #154
Hey @marina-p , I have just tried to run RESTler on its fuzz-lean mode inside an Ubuntu Docker Container and I have run into some strange issues. RESTler fails to find the grammar or the dictionary file (I suppose), even though the files clearly exist.

I am commenting here in this thread because I used the tutorial you are mentioning as a guide (adapting it to Linux as I went).

Below, the error

[2021-03-10 15:25] WaelAbuSeada opened #156 "Support fuzzing request header"
In some cases, we send some parameter in the request header, at the moment the compiler does not parse that, an example parameter:
   "parameters": [
          {
            "in": "header",
            "name": "serverComputerName",
            "description": "The name of the server computer (targetMachine).",
            "type": "string",
            "fullTypeName": "System.String"
          }

[2021-03-10 21:07] LewisArdern opened #157 "build-restler.py struggles with spaces in folder name."
The build-restler.py struggles with spaces in folder names, for example:

Bad:
[code]

Ok:
[code]

As you can see in the "Switch" it cuts off  C:\Users\User\Documents\Coding and just goes with just Project.

[2021-03-10 21:52] marina-p commented on #157
Thank you for reporting it, will fix.

[2021-03-10 22:03] marina-p commented on #154
Hi @alexbrahastoll,

This is most likely a failure to find python on the path.  RESTler should issue a different error message for each of the arguments to the file (e.g. if you try with an invalid path to the grammar, you should see an error message rather than a crash).

Can you please check if 'python' is on the path and the right version before you invoke ./Restler?

We have an upcoming featur

[2021-03-10 22:14] stishkin commented on #154
@alexbrahastoll  - we are working closely with RESTler team to make it easier to integrate RESTler into CI/CD pipelines.
The idea of the project to run RESTler in Azure. But I just merged a PR that will run same configurations locally.
https://github.com/microsoft/rest-api-fuzz-testing/tree/main/cli
raft_local.py - is the file that enables that

Also there is official Microsoft RESTler Docker cont

[2021-03-10 23:18] wuhkuh commented on #154
I switched from a custom dockerfile to this one (mcr.microsoft.com/restlerfuzzer/restler:v7.2.0), which also consistently raises [this error](https://github.com/microsoft/restler-fuzzer/issues/154#issuecomment-794638118) when I invoke `restler test <options>`, or `dotnet <path-to-Restler.dll> test <options>`. Interestingly enough, `restler compile` works just fine in both images (custom and offici

[2021-03-11 00:11] marina-p commented on #154
Hello @wuhkuh, thank you for reporting this.  We will investigate.

(The compile step does not invoke python, only the test/fuzz steps, so it is likely a problem with finding python on the path.)

[2021-03-11 02:13] marina-p commented on #154
PR #158 should resolve the issue in the official RESTler container and provide a workaround for different Python installations.

[2021-03-11 04:12] #147 closed

[2021-03-11 04:14] marina-p commented on #154
@alexbrahastoll @wuhkuh Please let us know if the latest RESTler commit resolves this for you.

[2021-03-11 12:08] wuhkuh commented on #154
Yes! That seemed to have fixed the error. It was indeed caused by an improper installation of Python 3. Thank you!

[2021-03-11 15:49] marina-p commented on #155
Hello @LYDE1234,

Restler is MIT licensed open source, in continuous use at Microsoft and being adopted around the world.  For info on support expectations for the project, see the section in /docs/contributor-guide/Contributing.md.

Thanks,

Marina

[2021-03-11 21:49] alexbrahastoll commented on #154
@stishkin Thanks, I will take a look at the image you have mentioned.

@marina-p I have Python 3.8.2 installed and correctly configured in the PATH. I will check out the updated version of RESTler in a couple days and I let you know if it solved the issue I reported above. Thank you for the fast reply.

[2021-03-12 02:24] #157 closed

[2021-03-12 12:32] WaelAbuSeada opened #161 "Docs update"
I can see you added new settings, like disable cert validation that is not in the docs file.

Also, can you please update fuzzing modes docs to explain what they means?

[2021-03-14 06:44] marina-p commented on #153
Hello @mbiuki,

We will investigate this issue, as RESTler should support getting example values for the query parameter.  However, note that currently RESTler only supports using the first example in the 'Test' phase.  My suggestion would be to use ```restler_custom_payload``` to list all of the values of the named query parameter if only some of them are expected to be valid, and this will also

[2021-03-15 19:03] davewichers opened #162 "Have you ever run this against OWASP Benchmark?"
I'm the project lead for this project, which is at:

- https://owasp.org/www-project-benchmark/ - documentation
- https://github.com/OWASP/Benchmark - Code

This project is intended to measure the ability for application security testing (AST) tools to find vulnerabilities in applications. This happens to be a web app, although not pure REST.  By that I mean that the responses aren't always simple

[2021-03-15 19:45] PatGod commented on #162
Hi Dave,

Thank you for your question/comment.

RESTler is not a web-app scanner so this specific benchmark does not look relevant to RESTler. Please see https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/FAQ.md#q-what-is-the-difference-between-restler-and-web-scanners

(Also, note that this openapi spec https://github.com/OWASP/Benchmark/blob/master/data/openapi.yaml does not d

[2021-03-16 03:24] mbiuki commented on #153
### ONE

I am not sure how I can do this exactly. Are there any samples to show us how this could be done?
From https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/Examples.md I see this peice:

[code]

So I create a file called examples.json in my Compile directory and copy the above? Or, does the compiler do this for me?

I tried running the following command from the Compile f

[2021-03-16 11:42] InLineR495 opened #163 "Authentication documentation needs update"
Need detailed description on how to obtain token "by external program".
There is no single example how to implement this.

I tried to pass token refresh script as an argument like: restler test --no_ssl --grammar_file Compile/grammar.py --dictionary_file Compile/dict.json --token_refresh_interval 7200 --token_refresh_command "sh token.sh" but it always fails, in logs:
"Exception refreshing token w

[2021-03-16 18:19] mbiuki commented on #163
Hi @InLineR495,

You'd need to write a token python script that can generate the following:
[code]

The first line in the above does not matter as only the second line is picked where the Authorization is going to be added to your request headers to the server.

Below is the RESTler test command I have:

[code]

[2021-03-16 19:14] marina-p commented on #162
Hi Dave,

Following up on what Patrice said - do you have any plans to add a benchmark targeting the OWASP API Security top 10 (https://owasp.org/www-project-api-security/)?  Or, is there another project you know of that is already working on this?

Thanks,

Marina

[2021-03-16 20:00] davewichers commented on #162
No plans currently. If someone wants to volunteer to help, that would be awesome! The project is (very slowly) working on 3 things currently. Benchmark 1.3 release (for Java still), and 2 new efforts just starting: new Benchmark for .NET, and a Benchmark for SCA tools (likely starting with Java as well). So we are starting to branch out to other Benchmark variants, but haven't had anyone volunteer

[2021-03-16 21:56] PatGod commented on #162
FYI, RESTler includes a simple example with a few seeded bugs: see https://github.com/microsoft/restler-fuzzer/tree/main/demo_server I would not call it a benchmark though. However, this example could easily be extended to more complex scenarios...

[2021-03-16 23:58] PatGod commented on #129
Hopefully, this new option might also be helpful: https://github.com/microsoft/restler-fuzzer/pull/158

Thanks to @jagijagijag1 for your help!

[2021-03-17 05:16] marina-p commented on #129
I've also confirmed this error is present when using Python 3.6, but not 3.8.

RESTler was updated recently to explicitly look for 'python3', as part of #158, in addition to the new option to specify the python path.  Please let us know if this resolves your issue.

[2021-03-17 06:02] marina-p commented on #11
Hello @mbuki,

```restler_fuzzable_datetime``` can be used in the dictionary.  Are you saying that in the grammar.py these are ```restler_fuzzable_string```?  If yes, this looks like a bug - could you please copy/paste the grammar.py snippet you get for the above schema?

As a workaround, you can use ```restler_custom_payload```, but values need to be specified separately for each of the parameter

[2021-03-17 21:08] mbiuki commented on #11
Yes, in the grammar.py these are restler_fuzzable_string.

[code]

There are some additional notes here, so I am explaining from the beginning.
When I run the following command from the root directory of my project where the YAML file is:

`Restler compile --api_spec openapi.yaml`

I get a new folder called `Compile' with all the default grammar, dict, etc. files.

Looking into that generated dict

[2021-03-17 21:32] mbiuki commented on #162
Taking a look at [OWASP top 10 API Security](https://owasp.org/www-project-api-security/), I believe is safe to declare almost all of those top 10 security vulnerabilities can be covered with RESTler's active checkers. See this paper: https://patricegodefroid.github.io/public_psfiles/icst2020.pdf.

For benchmarks, @davewichers, have you looked into [FuzzBench](https://google.github.io/fuzzbench/)?

[2021-03-17 21:45] marina-p commented on #11
Thanks for these details, this is very helpful.

Could you please clarify, when you change the dictionary (e.g. to add a ```restler_custom_payload``` section), are you re-compiling with

```Restler compile config.json```

where the config.json points to your new, updated dictionary?

Whenever you add new properties in the dictionary, you need to recompile because RESTler may need to update the gra

[2021-03-17 21:48] marina-p commented on #11
I will open a separate bug for these:

[2021-03-18 10:04] InLineR495 commented on #163
Hi!
Thank you! That is what i was searching for!

[2021-03-18 11:37] InLineR495 opened #164 "Error: 'utf-8' codec can't decode byte 0x9d in position 681: invalid start byte"
Starting restler with cmd:

restler test --grammar_file Compile/grammar.py --dictionary_file Compile/dict.json --token_refresh_interval 3500 --token_refresh_command "python3.8 /opt/api/some-service/token-some-service.py" --no_ssl

Some minutes later:

ERROR: Restler engine failed. See logs in /opt/api/admin-service/Test directory for more information.

But EngineStdErr is empty. The information in

[2021-03-18 17:20] marina-p commented on #164
Hello @InLineR495,

Thanks for reporting this.  Would you be able to post a sample response from your logs?  It is probably the last "Received" in the network.testing file before RESTler exited.

Thanks,

Marina

[2021-03-18 18:13] InLineR495 commented on #164
Here it is:

Generation-1: Rendering Sequence-1

	Request: 1 (Remaining candidate combinations: 1)
	Request hash: 9b9dc8102bb0870e8fbc21d55535317e80801868

		- restler_static_string: 'GET '
		- restler_static_string: '/'
		- restler_static_string: 'votings'
		- restler_static_string: '/'
		- restler_static_string: 'result'
		- restler_static_string: ' HTTP/1.1\r\n'
		- restler_static_string: 'Acce

[2021-03-19 17:44] mbiuki commented on #11
Hi @marina-p,

Yes, that's correct. When I change dict.json in Compile folder I do the following. I go to the Compile folder and run:
`Restler compile config.json`
That generates a new grammar.py based on changes in dict.json. My config.json looks like this:
[code]

My dict.json looks like this:
[code]

And so when I run the compile command stated above with the settings described, I still get the

[2021-03-22 10:06] shoaloak opened #165 "demo_server from the tutorial yielding incomplete coverage"
Hi,

When running RESTler on either Linux or Windows, I get incomplete coverage for the tutorial. According to the [README.md](https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/TutorialDemoServer.md), I should achieve a total spec coverage of `5 / 6`.

When running myself, I get `Final Swagger spec coverage: 1 / 6`. Is the demo_server broken?

[2021-03-22 13:18] heavenmyth commented on #152
hi, I use access_token to make API calls. The content I printed in the gettoken.py script is as follows:
print("{u'app1': {}}")
print(f"Authentication: Bearer {Access_token!s}")

The Access_token is obtained through a script, and I want to confirm whether the format of the printed content is correct.

[2021-03-22 15:34] mbiuki commented on #152
See this: https://github.com/microsoft/restler-fuzzer/issues/163

[2021-03-23 08:53] heavenmyth commented on #152
Hello @mbiuki ,
I think my authentication settings are correct, but after starting the fuzz test, I don’t see the request reaching the server。

The script to get the token is as follows：
![image](https://user-images.githubusercontent.com/26155539/112118710-99e47000-8bf7-11eb-9763-6415d9f7efc2.png)

Below is the log of my fuzz test，No error message is seen in the test result file，Can you tell me ho

[2021-03-23 08:58] Srijan619 commented on #163
Did you succeed? I am having an error which says Exception refreshing token with cmd.
````2021-03-23 10:51:26.153: Exception refreshing token with cmd full_path/get_token.py.  Error: invalid syntax (<unknown>, line 1)````

[2021-03-23 10:09] heavenmyth opened #166 "Restler engine failed"
I think my authentication settings are correct, but after starting the fuzz test, I don’t see the request reaching the server。

The script to get the token is as follows：
![image](https://user-images.githubusercontent.com/26155539/112130156-22b4d900-8c03-11eb-9301-375e9e0dcf26.png)

Below is the log of my fuzz test，No error message is seen in the test result file，Can you tell me how to troubleshoo

[2021-03-23 18:50] mbiuki commented on #156
We have it similarly at our end and we would have to go in grammar.json and manually add the header param in.

This is what we have from the spec file:

[code]

One suggestion could be to add custom header options for dictionary to construct the grammar.

[2021-03-23 18:57] mbiuki commented on #166
- You'd have to monitor traffic to be able to see what is going out and what error you are receiving from the server. I had an issue in the past that I should have passed the URLs without "https://" prefix.
- Also see network logs in the Test directory.

[2021-03-23 19:04] mbiuki commented on #152
I think you posted the same as above in https://github.com/microsoft/restler-fuzzer/issues/166.
To avoid redundancy, could you please post your problems in one thread only. See my response in https://github.com/microsoft/restler-fuzzer/issues/166,

[2021-03-24 08:18] Srijan619 opened #167 "Exception refreshing token with cmd"
I am having an error which says Exception refreshing token with cmd.
````2021-03-23 10:51:26.153: Exception refreshing token with cmd full_path/get_token.py.  Error: invalid syntax (<unknown>, line 1)````

I have passed token with
[code]

[2021-03-24 10:36] heavenmyth commented on #166
hello,@mbiuki

2021-03-24 17:50:17.582: Will refresh token: python E:\restler-fuzzer-testing\Server\restler-fuzzer\gettoken.py
2021-03-24 17:50:18.654: New value: {u'app1': {}}
_OMITTED_AUTH_TOKEN_

Generation-1: Rendering Sequence-1

	Request: 1 (Remaining candidate combinations: 4)
	Request hash: 03188f6d1bb4fddcd4cfa3040c1afaf81e1c6406

		- restler_static_string: 'POST '
		- restler_static_stri

[2021-03-24 16:11] mbiuki commented on #167
Can you show us the sample output of your token.py?

[2021-03-24 16:11] mbiuki commented on #167
See https://github.com/microsoft/restler-fuzzer/issues/163.

[2021-03-24 17:59] p870613 opened #168 "How to set about Basic Authentication in Restler？"
Hi ,
I want to test the server in Basic Authentication.
But, I don't know how to do.
I had seen #75.
I think I need to write python script and it can generate this.
`Authorization: Basic user:passwd`

However, it don't work.

This is my yaml.
![image](https://user-images.githubusercontent.com/23655229/112361230-21bc9e00-8d0e-11eb-963c-d6b447817051.png)

And, this is result.
![image](https://user-i

[2021-03-25 04:14] taivnn9 commented on #154
Hi All,

[2021-03-25 08:35] Srijan619 commented on #167
![Screenshot from 2021-03-25 10-34-27](https://user-images.githubusercontent.com/33220034/112443529-bc8c9b00-8d55-11eb-8121-fa400a6242a6.png)

[2021-03-26 04:52] xlx-nju commented on #165
I've met the question as you too. When running RESTler on Windows, I get coverage of `5/6`, but `1/6` on Linux. The log of the demo_server on linux is as follows
[code]

[2021-03-26 10:01] heavenmyth commented on #166
hello,@mbiuki
Does restler support getting my login status for server request?
I got a login state for the service in two steps, and the login state has permission to request the server。
step 1：ret2 = session.post('xxxxxxxxx/users/auth/ldap/callback')
step 2 ：r3=session.post('xxxxxxxxxxxx/oauth/authorize/')

At this point, I can have the permission to request the server, how can I give it to restl

[2021-03-28 16:09] rreexxllii0310 opened #169 "add RESTler support for formData API"
This is one of my swagger 2.0 specification, and I have a lot of these kind of data problems.
[code]

This is the result of Restler-fuzzer testing:

[code]

We can see that the request sent a empty data when we use `- in: "formData"` , it only send data with
[code]

How can I fix it?

Thank you!

[2021-03-29 05:21] mbiuki commented on #169
Could you attach your dict.json and grammar.py?

[2021-03-29 07:44] Srijan619 commented on #167
Any suggestions? I tried to pass a simple .py file with manually printed text but still it is throwing same error.

[2021-03-29 16:11] rreexxllii0310 commented on #169
This is my dict.json
[code]

This is grammar.py
[code]

[2021-03-29 20:27] mybachi commented on #167
Hi @Srijan619 , I think your token generation script is adding additional characters (may be space) at the end of the token. Probably instead of printing can you try returning the value?( just a trail). Also till that time you can hard code the access token in grmmar.py as follows

primitives.restler_static_string("Authorization: Bearer XXXXXXXXXXXXXXXXXXXXXXXXXXXX\r\n"),

[2021-03-29 20:52] alexbrahastoll commented on #154
@marina-p I have upgraded RESTler and I have also added pip and the libraries `requests` and `applicationinsights` as part of the steps of the Dockerfile I am working with. I added pip and the libraries after taking a look at the Dockerfile for the container mentioned by @stishkin. Are these mandatory requirements for RESTler? If so, it would be nice to add them to the list of requirements in the

[2021-03-29 23:02] alexbrahastoll commented on #154
@marina-p Nevermind my comment about issues with an OpenAPI 3 spec. My specification was missing the `openapi` key and after I added it, RESTler was able to correctly parse the spec and generate a proper `grammar.py`.

[2021-03-30 01:03] #165 closed

[2021-03-30 01:12] marina-p commented on #169
Hello @rreexxllii0310,

RESTler does not currently support form data parameters.

As a workaround, you could manually edit the grammar to send the required content type and additional parameters.

Marking this issue as a feature request.

[2021-03-30 11:27] InLineR495 commented on #153
Hi! Did you find answers for ONE and TWO? I have same questions but no answers

[2021-03-30 14:43] marina-p commented on #153
Hi @mbiuki,

Re: One - examples currently need to be linked from the specification file, in the same place as parameters and responses properties, and you do not need to specify examples.json.  For example:
[code]

This limitation will be fixed soon, and the new behavior will be that you specify your examples in examples.json and use it as an input (to avoid having to modify the spec if it does no

[2021-03-30 23:11] #155 closed

[2021-03-30 23:13] #154 closed

[2021-03-31 16:51] stishkin commented on #164
@InLineR495
I added some logging in order to better understand where issue is happening:

https://github.com/microsoft/restler-fuzzer/pull/173

The code is located in this branch:
https://github.com/microsoft/restler-fuzzer/tree/stas/164

If you could run your test with my changes, and share the logs.

[2021-04-01 08:29] mbiuki opened #174 "Failure in results analyzer"
I keep getting the same error when my fuzzing finishes and by looking at Fuzz/restler-20210401-125517.log and RestlerLogs/restler-20210401-125517.log.

[code]

[code]

Some notable questions:
- What does code 134 mean in: "Restler Information: 0 : (93645) dotnet `"/home/restler_bin/restler/../resultsAnalyzer/Restler.ResultsAnalyzer.dll" analyze "/proj_root/Fuzz" --output_dir "/proj_root/Fuzz/Respo

[2021-04-01 15:34] stishkin commented on #166
@heavenmyth  -  can you try to specify the URL that you trying to fuzz as the one returned in 302 response ?
I could not find any code where RESTler processes 302 correctly and uses redirect URL

https://xxxxxxxxx/api/dataSync/synchronizedPSShiftInfo\r\nServer:

[2021-04-01 15:39] stishkin commented on #168
Do you have  "UseRefreshableToken": true  set in you job configuration ?

[2021-04-01 15:53] stishkin commented on #167
@Srijan619 -
can you change your command from

/full_path/get_token.py

to use python to call the script ?

This is how we set up Token authentication in RAFT (we use dotnet executable and we have to specify it explicitly)

https://github.com/microsoft/rest-api-fuzz-testing/blob/27c7bad5d54174904559999ed59036da092eeb46/src/Agent/RESTlerAgent/AgentMain.fs#L263

[2021-04-01 15:58] stishkin commented on #131
@joshi-mohit  - hi, our project is intended to build on top of RESTler. We have number of samples, and our goal is to simplify authentication story for RESTler as well.

see:
https://github.com/microsoft/rest-api-fuzz-testing/tree/main/cli/samples/restler

You can use Azure to run the service, or you can run exactly same job configurations locally as long as you have Python and docker

[2021-04-01 16:02] stishkin commented on #128
@varunr-uc - is it possible for you to share your swagger specification ? Or at least a subset of swagger so we could repro ?

[2021-04-01 16:05] #129 closed

[2021-04-01 16:06] #127 closed

[2021-04-01 18:01] #130 closed

[2021-04-01 19:09] marina-p opened #175 "add query parameter support for "explode:false, style:form""
[Extracted from issue #153]

I find that our server accepts arrays without square brackets and strings without quotes. The reason is that we are having style values of the following in our open API file:

explode: false
style: form
these two allow for csv format syntax for arrays without square brackets and without quotations for strings. See: https://swagger.io/docs/specification/serialization/

[2021-04-01 19:37] marina-p commented on #168
@p870613 The "token refresh command" must be a command that, when launched separately on the command line, prints the token.  You need to add your python path to the command (e.g. "/usr/bin/python /path/to/token.py"

@stishkin "UseRefreshableToken" is no longer required.  If the refresh token command is not passed to the engine, a token will simply not be used

[2021-04-01 21:38] mbiuki commented on #166
I do not know about the above and you should see if the authors have an answer. Usually, cloud services have a JWT token generated with the following sample code (similar to yours):
[code]

[2021-04-01 23:08] mbiuki commented on #168
@p870613 and your `token.py`, should print something like this:

[code]

Note, at the moment, the second line is only important, i.e., the first line can be any (fake) UUID. But the format should essentially be as above.

[2021-04-02 09:28] p870613 commented on #168
Ok,
Thanks for your reply,
I will try it again.

[2021-04-02 09:46] InLineR495 commented on #164
Here from network.testing (ommiting sensitive data):

2021-04-02 09:35:08.961: Failed to decode header data due to 'utf-8' codec can't decode byte 0xd0 in position 1493: invalid continuation byte when decoding b'HTTP/1.1 200 \r\nServer: nginx/X.XX\r\nDate: Fri, 02 Apr 2021 09:35:08 GMT\r\nContent-Type: application/json;charset=UTF-8\r\nTransfer-Encoding: chunked\r\nConnection: keep-alive\r\nvary:

[2021-04-02 18:43] stishkin commented on #164
@InLineR495

I cannot seem to be able to repro the issue with data you shared

'HTTP/1.1 200 \r\nServer: nginx/X.XX\r\nDate: Fri, 02 Apr 2021 09:35:08 GMT\r\nContent-Type: application/json;charset=UTF-8\r\nTransfer-Encoding: chunked\r\nConnection: keep-alive\r\nvary: Origin\r\nvary: Access-Control-Request-Method\r\nvary: Access-Control-Request-Headers\r\nset-cookie: abf3ed9a58c43deadc2a1b4aca570fd

[2021-04-02 19:23] InLineR495 commented on #164
It would be great to handle these types of exceptions and continue running

Also i had this today:

Initializing: Garbage collection every 30 seconds.
No checkpoints used at this phase
2021-04-02 19:01:36.390: Generation: 1
Terminating garbage collection. Waiting for max 300 seconds.
Traceback (most recent call last):
  File "/opt/restler_bin/engine/engine/core/fuzzer.py", line 42, in run
    self

[2021-04-02 19:39] stishkin commented on #164
@InLineR495  - I added "ignore" parameter when decoding fails. Can you give that change a try ?

https://github.com/microsoft/restler-fuzzer/pull/173/files

[2021-04-05 16:45] p870613 commented on #168
@mbiuki @marina-p
Thanks for your reply.
I have already soluted my problem.
![image](https://user-images.githubusercontent.com/23655229/113599579-68e15200-9671-11eb-821a-fc5e86a26678.png)

[2021-04-05 17:53] #168 closed

[2021-04-06 00:54] marina-p opened #178 "inconsistent handling of async request failures"
In the network.testing logs, the PUT storageAccount (line 111) returned a 202 Accepted (line 148), then there were multiple GET requests (lines 151 to 177) for polling the created resource [...], which ended with (line 179)
2021-04-01 22:14:43.375: Resource polling timed out before the resource was available.
- yet the matching   speccov.json file states that this PUT request was ‘valid’ (line 143

[2021-04-06 01:08] PatGod commented on #178
Later on, RESTler did find an interesting bug after successfully generating such a resource 'storageAccount'.

Note that if we had declared that first PUT request as invalid, then RESTler would have never tried to explore further, and it would not have found that 500 bug!…

So perhaps a '202 Accepted' should still be considered valid, or 'partly valid', in order to let the analysis proceed to deep

[2021-04-06 01:13] PatGod opened #179 "add 'sample_request' as the last field for each request in speccov.json"
Could 'sample_request' be moved to last, please? (Currently, it is before 'error message' and 'request_order'.)

The purpose of this request is to increase the (human) readability of speccov.json

[2021-04-06 07:10] marina-p commented on #153
Hello @mbiuki @InLineR495,

I pushed a branch with better support for arrays that addresses the above issue TWO:
mp/175_part2

If you have a few minutes, could you please try it to make sure it works for your service?

Thanks!

Marina

[2021-04-06 07:11] marina-p opened #180 "FunctionalityTests.test_fuzz unit test is flaky"
In local testing, it fails sporadically due to Fuzzing sequence lists do not match.

[2021-04-06 07:42] Srijan619 commented on #167
I tried to give full path with python to call the plain script but it also failed.

[2021-04-06 07:43] Srijan619 commented on #167
Where to add that line, at the end of the request or after the end of endpoint like api/blog/add+ string?

[2021-04-06 16:26] mbiuki commented on #153
Thank you @marina-p, I can see your origin/mp/175_part2 branch, please allow me by the end of today to check this. I believe this change, will take care of style values, `explode:false; style:form`, so we should not expect to see square brackets for arrays and quotations for strings in grammar.py, right?

[2021-04-06 18:13] mbiuki commented on #153
Hi @marina-p, I just did a test and confirm that on branch `mp/175_part2`, the Restler engine compiles properties with `explode:false; style:form` as w/o quotes for strings and square brackets for arrays as specified in the query parameter standard (https://swagger.io/docs/specification/serialization/). This is reflected in the grammar.py and so no manual fix is needed. Thank you.

[2021-04-06 18:25] mbiuki commented on #153
On a separate note, it could also be nice to have the above merge with the below header fix too:
[code]

To include `X-KLM-ID` as a header parameter with a dedicated value from `dict.json`:
[code]

OR,

[code]
And have the above to compile in grammar.py. At the moment, I manually add the header UUID param to the `grammar.json` and should re-compile to have the effect appear in `grammar.py`.
Thanks

[2021-04-06 19:33] marina-p commented on #153
@mbiuki Great, thanks for confirming.

The header fix will be checked in soon, in a separate change (tracked by #156).

[2021-04-06 21:35] #179 closed

[2021-04-06 22:23] marina-p commented on #175
Closed by #181

[2021-04-06 22:23] #175 closed

[2021-04-07 19:23] PatGod commented on #178
Here is a way to solve this issue, without reducing API coverage and without preventing RESTler to explore deeper:

1. RESTler keeps considering "202 Accepted" as "valid" for API-coverage metric (no change here).

2. when failing to create a child resource because of "202 Accepted"+"failed GET polling requests", we introduce a new category "invalid_due_to_unvailable_parent_resource" in speccov.jso

[2021-04-07 21:25] qixin5 opened #184 "Sequence of requests"
Hi RESTler authors,

I'm using RESTler to test a small local-hosted service, for which RESTler doesn't seem to infer a lot of producer-consumer dependencies (please see attached dependencies.json.txt). In the fuzzing phase, however, I still see a lot of sequences of requests generated in various lengths (please see attached network.testing*.txt). I wonder why? If there is no dependency relationshi

[2021-04-07 22:27] PatGod commented on #184
In fuzz mode, RESTler will try to generate all kinds of request sequences, including requests that may not be related with dependencies.

Still, for this job, adding annotations or fixing the Swagger spec should increase the meaningfulness of the tests performed by RESTler. For more on annotations, please see https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/Annotations.md

[2021-04-07 23:02] qixin5 commented on #184
@PatGod, thanks!

[2021-04-08 02:11] #156 closed

[2021-04-08 04:32] marina-p commented on #153
@mbiuki The header fix is now merged

[2021-04-08 08:50] InLineR495 commented on #164
Now, it's working!
Can you merge it into main?

[2021-04-09 16:03] qixin5 commented on #184
Sorry, I understand the issue was closed, but I have a few more questions. I wonder when dependency is not inferred, what rules RESTler uses to chain requests together to produce sequences? Would it try all combinations? Also, I wonder what rules RESTler uses to infer dependencies (does it consider any of the property/parameter names, types, endpoints, and the HTTP verbs; if it compares strings, d

[2021-04-09 18:04] PatGod commented on #184
If you want to understand how RESTler works, please read the research publications we wrote about it. Start with https://patricegodefroid.github.io/public_psfiles/icse2019.pdf Links to all 4 relevant publications can be found in https://github.com/microsoft/restler-fuzzer

[2021-04-09 18:15] marina-p commented on #184
@qixin Exact matching is used to compare strings when inferring dependencies, but identifiers are split per the convention of the specification (e.g. camelCaseName will be split into 3 words).  It's possible that your spec uses a convention not supported by RESTler - see 'NamingConvention' in the documentation /docs/user-guide/CompilerConfig.md

[2021-04-09 18:21] marina-p commented on #184
@qixin5 Can you attach your OpenAPI spec?  Dependencies won't be inferred if your spec is missing the full response schemas.  Your naming convention is supported, so that's not the issue.

[2021-04-09 19:56] qixin5 commented on #184
@PatGod , thanks, I did read the papers (including the icse19 one) and enjoyed doing so, but still had the questions regarding details about dependency inference and handling non-dependent requests (according to icse19 paper Fig 3, lines 14-20, it seems RESTler would only append a request to a sequence with which it has a dependency relationship, so I had my previous question regarding what rules

[2021-04-09 20:29] marina-p commented on #153
Hi @mbiuki, if you have a chance, could you please try out the change in the above PR (branch mp/examples) and confirm this fixes your datetime issue?  (This still generates a fuzzable_string when the format is not specified, but the default value will be the example).

[2021-04-09 20:33] marina-p commented on #184
@qixin5 Great, thanks.  I see from the spec that the POST doesn't return any schema.  Is that by design?   Without this, RESTler will not know that to create the product you need to call a POST.  It could infer a producer from the GET - there is an compiler option for this in config.json called 'AllowGetProducers'.  It's not on by default because it is mainly used in cases where there is no POST a

[2021-04-09 20:59] qixin5 commented on #184
@marina-p I see, and thanks! The service in its implementation does not return the created resource after a post, but this could be improved.

[2021-04-12 09:57] mbiuki commented on #153
Hi @marina-p, I checked this by going to `mp/examples` branch and building Restler. I did not see changes effective. Here is what I did.

1. I ran `Restler compile --api_spec openapi.yaml`
the openapi.yaml includes the following constructs:
[code]
However, when I ran the compiler, I still see the following in `grammar.py`:
[code]
I also wonder if we are to correct dates to use a valid dateTime str

[2021-04-15 00:06] marina-p commented on #153
@mbiuki Thanks for testing this out.  I believe I fixed the issue you were seeing, can you please try the mp/examples branch again?

Regarding dict.json - could you please clarify?   You can modify this value after the default is generated to ones that work for you - that is the purpose of the dictionary.

[2021-04-15 23:06] PatGod opened #187 "restler_fuzzable_uuid4 behaving unexpectedly"
As discussed, filing a bug for this issue.

Description: here is a grammar.py fragment

[code]

Here is the matching entry in the dict.json:
[code]
And here is how it is rendered in the network.testing logs:

`2021-04-14 18:00:55.925: Sending: 'POST /organizationHierarchy/organizations/2957be0e92fa461a8b091745bc44699f HTTP/1.1\r\nAccept: application/json\r\nHost: <XXX>\r\nContent-Type: application

[2021-04-16 02:55] marina-p commented on #164
@InLineR495  We will get this merged next week, Stas is currently on vacation.

We're going to put it under an option for now, in case this parsing issue could indicate a bug in some cases.

[2021-04-16 06:12] mbiuki commented on #187
A side note question in this ticket, could you please elaborate what is the difference between `restler_custom_payload_uuid4_suffix`, `restler_custom_payload`, and `restler_fuzzable_uuid4`?

- How the fuzzer is going to treat the above for UUIDs. That is, if I have fixed uuid endpoint parameters, would I just not need to pass them in `restler_custom_payload`? Then, why do we need `restler_fuzzable

[2021-04-16 06:23] mbiuki commented on #153
Sure, I can re-try to see if it works. I will give you an update by next week.

Sounds good. I recall, when I changed it to ISO, grammar.py reverted the result. I can double-check this as well.

[2021-04-16 08:46] PatGod commented on #187
@mbiuki 'restler_custom_payload' is for specifying constants ("magic values"), 'restler_fuzzable_XXX' is for specifying a list of constants to be used for controlled fuzzing, 'restler_custom_payload_uuid4_suffix' appends a random suffix to a constant specified by this option. Please see https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/FuzzingDictionary.md where all these optio

[2021-04-16 18:21] marina-p commented on #153
@mbiuki Thanks, sounds good.

Quick clarification regarding your comment "grammar.py reverted the result":

grammar.py values are currently default values that are overridden by the dictionary.  For example, if the grammar has ```restler_fuzzable_string("fuzzstring",...)```, but your dictionary has ```"restler_fuzzable_string": ["a"]``` , only "a" will be used.  This actually does not interact wel

[2021-04-16 19:02] mbiuki commented on #153
Ok, so for testing this ticket, I am going to remove `restler_fuzzable_string` from `dict.json` and see how things roll out - although I was playing with `restler_fuzzable_datetime` to see why ISO format is not showing up in grammar.py after compilation.
[code]
Eventually, we want to reflect whatever is present in `dict.json` to `grammar.py`. If we have `restler_fuzzable_datetime` in ISO format, w

[2021-04-19 12:24] DavidFarago opened #190 "RESTler via Docker"
I would like to try out RESTler, but I have Ubuntu 19.04, which does not seem to support .NET 5.0. Furthermore, if RESTler turns out to be useful for our project, it would be great if RESTler can be executed elsewhere (e.g. Gitlab CI) easily, too.

So what is the easiest way to run RESTler on a (old) Linux machine?

Is there a Docker image available? If not, what is the best approach to create one

[2021-04-19 18:26] mgreisen commented on #190
@DavidFarago
We do build a docker image for RESTler. You can see the dockerfile used to build the image https://github.com/microsoft/restler-fuzzer/blob/main/docker/Dockerfile

The image is available on docker hub https://hub.docker.com/_/microsoft-restlerfuzzer-restler.

The image is the code tagged v7.3.0.

[2021-04-19 18:56] mgreisen commented on #190
@DavidFarago
You might also want to take a look at the https://github.com/microsoft/rest-api-fuzz-testing (RAFT) project. With RAFT you can run RESTler using either an Azure deployment or locally on your machine using the raft_local.py script.  There is also a github action https://github.com/marketplace/actions/rest-api-fuzz-testing-raft-action you can use to integrate RESTler into your github pi

[2021-04-19 20:32] mbiuki commented on #153
Hi @marina-p, I still see the same as tested before. I removed the fuzzstring from dict.json. But, still see
[code]
in `grammar.py`.
[code]
And this is my `openapi.yaml`:
[code]

[2021-04-19 21:01] marina-p commented on #153
Hi @mbiuki,

Can you please confirm that when you test your other example specification, where there is an array of "examples" for the datetime, one of the examples now appears in grammar.py, instead of 'fuzzstring'?  This one does not have any examples, and we'll investigate separately why 'format:datetime' isn't taken into account for this one.

[2021-04-19 21:22] mbiuki commented on #153
Hi @marina-p, I see the same effect with the ones that even have examples. See `lastSeenBefore` and `lastSeenAfter` below.
Here is a snippet:
[code]
and the resulting `grammar.py`:
[code]

[2021-04-20 19:02] #164 closed

[2021-04-22 14:13] vulnbe opened #192 ""restler compile" produces invalid headers when restler_custom_payload_header is used."
Custom dictionary config:

[code]

Result:

[code]

[2021-04-22 18:14] marina-p commented on #192
Thanks, will get this fixed ASAP.

[2021-04-23 00:48] #192 closed

[2021-04-23 04:59] marina-p opened #194 "compiler should not assign uuid4_suffix to GET or DELETE requests"
Because GET and DELETE should not be creating new resources, they should not ever have uuid4_suffix.

Repro:
Change the demo_server {postId} path parameter to {post} and recompile.

Expected: DELETE and GET have a fuzzable string for the parameter
Actual: they have a uuid4_suffix.

[2021-04-23 19:40] marina-p commented on #194
Also, if there is a POST /resource and a PUT /resource/{resourceId}, there should not be a uuid4_suffix generated for the PUT (we assume that POST creates the resource, and PUT can only update it in such cases).

[2021-04-27 21:13] acdha commented on #190
This image appears to be private — is there a public release pending?

[2021-04-27 21:22] stishkin commented on #190
@acdha  -
public image is accessible here:
mcr.microsoft.com/restapifuzztesting/restler-agent:v3.latest

@mgreisen  - could you add tags to the RESTLer docker readme file ?

[2021-04-27 21:51] acdha commented on #190
Thanks!

[2021-04-27 22:06] mgreisen commented on #190
@acdha,
I've also just updated the readme with an example on how to pull the image.

[2021-04-29 20:32] DavidFarago commented on #190
Thank you very much. I do not understand how to call Windows exes in the docker image, so I was not able to follow the tutorial directly.

All Python code is calling .NET DLLs and is not an alternative implementation of your F# code, right? `RESTler/engine/restler.py` does not offer any options for compiling, does it? The grammar you can pass is the compilation of your openapi specification?

I am

[2021-04-29 21:08] mgreisen commented on #190
Any executable you find on the container has been compiled with dotnet, so you can run it using the `dotnet` command. https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet

[2021-05-01 04:11] deepexplorer-web opened #196 "The request speed is slow"
I am trying to use restler to test some toy projects. However, I have found that restler could only send ~50-80 request per hour. Is it excepted? Or should I modify some settings to speed up restler?

[2021-05-01 07:06] p870613 opened #197 "how to generate multiple elements in array ?"
Hi,
I want to generate the array like this
[code]
However, I met some trouble that Restler can't generate it.
Here is the result running `./Restler test --grammar_file Compile/grammar.py --dictionary_file Compile/dict.json --settings test.json  --no_ssl`
From this picture, it only generate `min_max:[[ 0 ]]`.
![image](https://user-images.githubusercontent.com/23655229/116774346-995cb600-aa8e-11eb-9

[2021-05-02 17:51] marina-p commented on #196
Hello @deepexplorer-web,

This is not expected.  Can you please share a few details about your setup:

- exact command line to RESTler.
- version of python
- If possible, would you be able to share your 'Test' directory with all the logs, grammar etc.?  (If this reproduces in Test mode, or 'Fuzz' if fuzz mode)

[2021-05-03 03:49] deepexplorer-web commented on #196
I am just following the documentation via https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/Fuzzing.md.
The specific command is: restler.exe fuzz --grammar_file <RESTLer grammar.py file> --dictionary_file <RESTler fuzzing-dictionary.json file> --time_budget <number_of_hours>

[2021-05-03 04:39] PatGod commented on #196
The speed of execution of REST API requests is mostly determined by the service you test and by your socket/network connection, not by the speed of RESTler itself which is quite fast.

For instance, try running RESTler with the DemoServer local service that comes with RESTler (see https://github.com/microsoft/restler-fuzzer/tree/main/demo_server ) -- what RESTler/request-by-minute speed do you see

[2021-05-03 04:41] marina-p commented on #197
Hello @p870613,

By default, RESTler will generate 1-element arrays in the grammar.  Then, the payload body checker will fuzz bodies, including varying the number of elements in arrays.

From the above, it sounds like what you need is specifically a two-element array to get a successful request, is that correct?  The easiest way for you to send 2-element arrays for this specific property is to use

[2021-05-03 04:51] mbiuki commented on #153
Hi @marina-p,

Thanks for your message. I have reported my experience of the fix a couple of times above. If you believe this issue is fixed as intended please close this ticket.

Thanks

Mehdi

[2021-05-04 00:32] marina-p opened #198 "take into account 'minItems' when generating arrays in the grammar"
See https://swagger.io/docs/specification/data-models/data-types.

RESTler should generate the minimum number of required elements to successfully execute the payload.  (Then, the payload body checker will fuzz element lengths outside this range).  The values generated should be unique.

type: array
items:
  type: integer
minItems: 1
maxItems: 10

[2021-05-04 02:35] #153 closed

[2021-05-04 08:11] deepexplorer-web commented on #196
Hi @PatGod, I have tried with your suggestions on the official demo of swagger - PetStore (https://hub.docker.com/r/swaggerapi/petstore). However, restler only totally sent ~1900 requests in one hour. The information attached as follows.

2021-05-04 15:40:12.475: Total Creations of Dyn Objects: 164
2021-05-04 15:40:12.475: Total Requests Sent: {'gc': 164, 'main_driver': 1900, 'LeakageRuleChecker':

[2021-05-04 08:29] Mafti opened #199 "Further explanation of runsummary"
Hi,

I am not sure if I understand the runSummary.
requestCount, is this the total count of requests which have been done? (it seems, it only contains the failed requests?)
Because, when I look in testing_summary, i see different numbers?
In simple terms.

where can I find:
-  the total request done,
- number of requests with a 200 :)

[2021-05-04 16:07] PatGod commented on #196
In your experiment above, RESTler sent 1900 + 164 + 1+ 12 + 1414 requests (thus, way more than 1900). If this experiment took ~1h, this is about 1 request/second. Again, this speed is due to the service under test and your socket/network connection.

My suggestion was to try RESTler on https://github.com/microsoft/restler-fuzzer/tree/main/demo_server which runs locally -- you should experience RES

[2021-05-05 08:09] p870613 commented on #197
Thanks for your reply.
I want to use the first way, that is, add `restler_custom_payload` to `dict.json`.
However, I still meet the trouble like above, only one element.
Do I change my `grammar.py` or something ?

Here is my dict.json
[code]

Thank you !

[2021-05-05 08:28] p870613 commented on #197
Thanks for your reply.
I use the first way, that is, adding  `restler_custom_payload` to `dict.json`.
Like this.
![image](https://user-images.githubusercontent.com/23655229/117113778-8a8f3f80-adbd-11eb-8cb1-8dbeab10b548.png)
However, I edit the `grammar.py` manually like this.
![image](https://user-images.githubusercontent.com/23655229/117114234-27ea7380-adbe-11eb-85f3-0695a1191bb9.png)
It's possi

[2021-05-05 10:54] Gurubg1 opened #200 "Test command not sending any requests"
Hi,
I have used latest image from Docker hub to setup Restler. Howerver, if I run test command, it does not send any requests. All request related files (runSummary.json, errorBuckets.json etc..) are empty. Following entries can be found in the logs:
2021-05-05T10:40:47.0744743Z Request coverage (successful / total): 0 / 1
2021-05-05T10:40:47.0745209Z No bugs were found.
2021-05-05T10:40:47.074551

[2021-05-05 14:33] stishkin commented on #200
@Gurubg1
- what command do you use ?
- what is your configuration ?
- did the same configuration/command worked on your local RESTler ?

[2021-05-05 15:16] Mafti commented on #200
Does your swagger contain the "host" attribute?

[2021-05-05 17:16] Gurubg1 commented on #200
Following is my command:
dotnet Restler.dll test --grammar_file Compile/grammar.py --dictionary_file Compile/dict.json  --host "<base url of the api>" --token_refresh_command "/usr/bin/python3 /RESTlerTokenGetter.py <username> <password>" --token_refresh_interval 720
I did not try running REStler locally. I used the image available in the docker hub to run in a CI/CD pipeline.
@Mafti  My swagger f

[2021-05-05 17:25] stishkin commented on #200
what command did you use to run RESTler in your CI/CD pipeline ?

Does your CI/CD pipeline has access to the RESTlerTokenGetter.py ? Since RESTler engine needs to call the script to get the token.

Are there any RESTler network logs inside of experiment folder ?

[2021-05-05 17:34] Gurubg1 commented on #200
I am using Azure Devops pipeline. There is a task to build and publish docker images. Following is my DockerFile
FROM mcr.microsoft.com/restlerfuzzer/restler:v7.3.0
COPY  ./RESTlerTokenGetter.py .
COPY ./RolesSwaggerDoc.json .
WORKDIR RESTler/restler
RUN chmod +x Restler.dll
RUN dotnet Restler.dll compile --api_spec ../../RolesSwaggerDoc.json
dotnet Restler.dll test --grammar_file Compile/grammar.

[2021-05-05 17:59] marina-p commented on #200
Hello @Gurubg1,

Question 1:  are you able to run the 'restler_quick_start.py' per documentation in the container?

Question 2:
Are there any RESTler log files produced?
e.g. restler-*.log, EngineStdErr.txt, or EngineStdOut.txt

If yes, could you please attach these files?

[2021-05-05 18:05] Gurubg1 commented on #200
EngineStdErr.txt seems to be empty. EngineStdOut.txt has following contents:
Initializing: Garbage collection every 30 seconds.
Terminating garbage collection. Waiting for max 300 seconds.
Done.

[2021-05-05 18:06] marina-p commented on #197
Yes.  When you compile, you should specify the above dictionary (via the config.json - restler.exe compile <path to config.json>), which includes the custom payload you added above.  The compiler will read all the custom payloads in the dictionary and generate the corresponding grammar primitives.

[2021-05-05 18:18] PatGod commented on #199
Hi @Mafti ,
The file testing_summary.json contains the information you want.

For instance, in the following example
[code]
num_fully_valid is the number of successfully 20x executed request types in your API.
total_requests_sent is the list of all requests sent, where "gc" is the RESTler garbage collector, main_driver is the core RESTler test engine, and the rest are requests sent by the various

[2021-05-05 18:33] marina-p commented on #199
Hello @Mafti,

The number in runSummary contains only failing requests, it should be named 'failingRequestCount' - we will fix this shortly.

[2021-05-06 09:26] victor-li commented on #167
It seems like the given `token_refresh_command` is executed with subprocess module in Python, which interprets scripts with `/bin/sh` by default.

There are two solutions for this:
- Use Python to call the script: `--token_refresh_command "python3 /full_path/token.py"`
- Add the Python shebang on the first line of `token.py` + make the script executable.

[code]

[2021-05-06 12:56] Gurubg1 commented on #200
@stishkin I tried to setup Restler locally. If I run the same command locally, network.testing.400044.1.txt contains a line:
2021-05-06 18:16:09.941: 'Exception Creating Socket: [Errno 11001] getaddrinfo failed'
Could this be the problem?

[2021-05-07 05:57] marina-p opened #203 "incrementally generate speccov.json"
If RESTler fails on a long 'Test' run (e.g. due to a VM reboot in a cloud deployment), all information about spec coverage is lost because it's not logged until the end.  We should log speccov.json incrementally to avoid such issues.

[2021-05-07 14:39] Mafti commented on #199
Thanks!

[2021-05-08 07:56] mbiuki commented on #199
Is  "rendered_requests_valid_status" same as "num_fully_valid"?
For better understanding, could the information in summary logs, e.g. `testing_summary.json`, be documented. I have the same confusion as to interpret the results' value. Thanks.

[2021-05-08 08:24] rifiles commented on #199
@mbiuki Hi Mehdi, num_fully_valid differs from rendered_requests_valid_status slightly:

"Valid status" simply means a status code was returned as valid (typically 2xx unless custom valid codes were set).

"Fully valid" means there were no failures detected with the request at all. An example of a non-fully-valid request would be if there was a failure reported during an asynchronous resource crea

[2021-05-08 19:50] marina-p commented on #199
Thanks @rifiles!

Reopening to add documentation.

[2021-05-09 21:37] p870613 commented on #197
OK,  I have solved my problem.
Thanks!!!

[2021-05-09 21:37] #197 closed

[2021-05-10 11:34] Mafti opened #204 "Include total request/failed in testing summary"
Hi,

as a follow-up of #199 I would like to see the total execution + failed in testing summary.
Instead of having to sum them up myself and combining the 2 jsons :)

{
  "requests_summary": {
    "executed": 400, //i.e. 200
    "failed": 100, //not-200
},

[2021-05-10 12:58] #200 closed

[2021-05-10 13:09] Gurubg1 opened #205 "Custom headers are not recognized during compilation"
Hi,
I have this in api spec

[code]

But after compilation it is not recognizing this tenantid header. Grammar.json file does not contain this:
[code]
Also, grammar.py does not have it:
[code]

Is this feature supported?

[2021-05-12 02:00] mbiuki commented on #199
@rifiles, thanks for your answer. So, would `num_fully_valid ` mean all allowable REST API for an endpoint are executed (based on spec file) without finding an error?

To put in the full picture, could you please also provide definitions for the following:

[code]

[2021-05-12 06:23] Gurubg1 commented on #205
Thanks very much @marina-p !! Taking the latest version from main branch and running locally has worked!

[2021-05-12 06:34] victomteng1997 opened #210 "Openapi specs for Testing Restler on Gitlab-ee"
I am reading the four papers on the main page, and I saw that one of the testcases is on Gitlab. It is mentioned that the Gitlab API is at: https://docs.gitlab.com/ee/api/
Though the api documentation is well-defined for Gitlab, I didn't see any specs defined in openapi (swagger) format. Since Restler takes openapi format as input, may I know how to convert the web api documentation into openapi f

[2021-05-12 08:14] Gurubg1 commented on #205
I have few other questions:
1. Some of the parameters of the apis take urlencoded and base64 encoded strings. How to make RESTler send these?
2.  One of the APIs I am trying to fuzz returns 404 if requested resource ("fuzzstring" in this case) is not present. But, fuzzing stops after sending just one request and getting 404.

[2021-05-12 13:32] Mafti opened #211 "custom_payload_header is not used"
Hi,

I am pretty sure I am doing something stupid :)

I compiled a swagger
Then I edited the dict.json by adding this at the end (before the last }
[code]
so my dict.json looks like this:

[code]

Then I am running it with fuzz-lean, but no cigar.
At then endpoint I do not see these headers.

[2021-05-12 15:44] marina-p commented on #211
Hello @Mafti,

Are you using the latest version of RESTler, built from the main branch?

[2021-05-12 16:03] PatGod commented on #210
GitLab was one of the first big services we tested and fuzzed with RESTler. But that work was done almost 3 years ago, and both GitLab and RESTler have evolved **a lot** since then. Back then, in order to use RESTler on the GitLab REST APIs, we had to significantly modify manually the RESTler-generated grammar (but the RESTler compiler was also very primitive back then).

For an (up-to-date) OpenA

[2021-05-12 16:04] PatGod commented on #210
I am closing this issue since this is really a GitLab question.

[2021-05-12 16:05] #210 closed

[2021-05-12 16:11] PatGod commented on #204
This question/request is already addressed in #199 - please see that thread for further discussion.

[2021-05-12 16:23] PatGod commented on #199
yes.

"final_spec_coverage" is the number of valid requests over the total number of requests (see the documentation).
"rendered_requests" is the number of requested attempted to be rendered/executed by RESTler (that is, the number of unique requests you will see being tried/executed in the network logs).
"num_sequence_failures" is the number of invalid requests due to a failure occurring when cre

[2021-05-12 16:25] PatGod commented on #204
Note that testing_summary.json already contains the information you want - please see #199  (no need to combine 2 json files).

[2021-05-12 19:41] marina-p commented on #210
We are not aware of official OpenAPI specs for gitlab.  At the time, for our experiments it was a combination of using unofficial specs and patching the grammar when there were discrepancies with the service.

[2021-05-13 03:31] victomteng1997 commented on #210
Understood. Thanks for that!

[2021-05-13 15:08] PatGod commented on #204
[Re-opening and clarifying]

Suggestion: in testing_summary.json, add a new section reporting the number of requests that triggered specific HTTP status code

Example:
[code]
This information is already produced by resultsAnalyzer, but having it (incrementally computed and) included in testing_summary.json may be simpler. (Plus resultsAnalyzer is sometimes flaky and can be expensive for very long

[2021-05-13 15:22] marina-p commented on #205
RE: 1. Can you please include what the specification declares for these parameters/properties?
These aren't supported at this point, but you may be able to work around this by specifying a 'restler_custom_payload' with already encoded values for the parameter.

RE: 2.  Could you please add a bit more detail: which mode are you running (Test or Fuzz)?  What behavior are you expecting?

[2021-05-13 15:28] marina-p commented on #204
Yep, we should add these.

(Separately, we should clarify in the documentation why results analyzer may in rare cases produce different numbers...)

[2021-05-13 21:34] marina-p commented on #211
The container has also just been updated with this new feature.  Please let us know if you are still seeing problems with it using the latest versions.

[2021-05-14 08:10] Mafti commented on #211
Hi,
I am testing it on my local machine, so no container (yet)

- Rebuild from the latest branch. (version is now 7.4.0)
Some other stuff I did:
- changed the fuzzy-string in dict.json and saw that reflected.
- Added a "actual" header-value, but that also did not reflected.
Any logging I can check if I made a typo?

[2021-05-14 12:00] Mafti commented on #211
What I do see in the logging is the following:
[code]
Should it not say "custom_payload_header" or something like that?

[2021-05-14 15:48] marina-p commented on #211
Thanks for the additional details.  Yes, in your example it should say custom_payload_header.  Looking into it...

[2021-05-14 15:53] marina-p commented on #211
Ah, yes - you do need to add these to the dictionary during the compile phase.  That should resolve your issue.

[2021-05-17 08:29] Srijan619 opened #213 "Can the NameSpaceRuleChecker report false alarms?"
As cited in the paper Checking Security Properties of Cloud Service Rest APIs
[code]
Isn't this wrong in the sense that a GET request should be okay even if it is in another user's resource? For example in a blog app, a logged in user should be able to read other's blog?

[2021-05-18 07:47] Gurubg1 commented on #205
Thanks for the response!
I have resolved my second question by adding few annotations.
Now I am stuck at generating unique values for certain inputs. I tried using fuzzing dictionary with "restler_custom_payload_uuid4_suffix". But, my api spec is a open api version 3.0 spec. It does not have 'definitions' but has 'components'. Compiler does not seem to recognize it. But if I add another section in

[2021-05-18 12:08] Mafti commented on #211
hmm,

That did the trick. not very clear in the documentation.
Thanks for the help 👍

[2021-05-18 14:27] PatGod commented on #213
The NameSpaceRuleChecker reports any successful attempt for a user with tokenA to access resources of a user with tokenB.

In some cases, such accesses are indeed legitimate.

To filter out these cases, you can either ignore such alarms when processing the RESTler results or modify the code of this checker by using the _false_alarm function -- see https://github.com/microsoft/restler-fuzzer/blob/m

[2021-05-18 17:53] marina-p commented on #205
Hello @Gurubg1,

V3.0 is supported - we'll investigate what's happening with this specific case and get back to you shortly.

[2021-05-19 10:23] #213 closed

[2021-05-19 17:31] dagit opened #215 "Unhandled exception when processing mattermost API spec"
It looks restler throws an unhandled exception when processing the API spec at http://api.mattermost.com

[code]

That was the result of issuing the following command:
[code]

I was able to successfully compile the gitlab spec that can be found in the examples in the openapi repo. So I think my restler build is working correctly. Could it be that mattermost is using an unsupported revision of open

[2021-05-19 17:56] dagit commented on #215
Running `openapi-spec-validator` over the file I get this error:

[code]

Perhaps that's causing the exception?

[2021-05-20 01:21] marina-p commented on #215
Hello @dagit,

Thanks for reporting this and it's great you are able to link the full API spec.  This looks like a bug in RESTler itself - we will investigate further and try to get back to you soon with a workaround.

Thanks,

Marina

[2021-05-20 15:14] stishkin opened #216 "Improve logging when Duration is set and reached in Test or TestFuzzLean runs"
Right now RESTler throws an error is specified duration is exceeded during Test or TestFuzzLean runs.

It is "known" that Test and TestFuzzLean are meant for running till exhaustion rather than till duration timer is expired.
But since RESTler allows duration to be specified when Test or TestFuzzLean modes are used - it would be better for users to have a clear log message explaining that, rather

[2021-05-20 16:06] marina-p opened #217 "'useHeaderExamples' should be on by default"
This should match the behavior of other parameters.

[2021-05-20 18:30] dagit commented on #215
Great! I don't know if you looked at the linked bug but I also reported this to the mattermost developers as it seems that the openapi spec validator found at least one thing it didn't like about their specification.

[2021-05-20 19:17] marina-p commented on #215
The problem with the spec is that there are arrays declared without an array item type.  If you remove these two instances, compilation succeeds:

                  "team_ids": {
                    "type": "array",
                    "description": "Filters results to channels belonging to the given team ids\n"
                  },

This should have an 'items' property of type 'string'.  I don't

[2021-05-20 19:42] #217 closed

[2021-05-21 01:25] #215 closed

[2021-05-21 22:43] marina-p opened #220 "don't swallow errors in the engine"
There are many places in the engine, especially on the fuzzing thread, where exceptions are swallowed.  We need to make sure exceptions are reported to be able to quickly diagnose errors.

This work item is opened to fix recently observed cases.  For example:

        try:
            with open(grammar_path, 'r') as grammar:
                schema_json = json.load(grammar)
        except Exception

[2021-05-21 22:53] PatGod opened #221 "Extend the NameSpaceRuleChecker to be triggered by user-specified trigger-objects"
Extend the NameSpaceRuleChecker with two new (optional) options (backward compatible):

- If trigger_on_dynamic_objects (optional) is true, then the namespacerule checker performs all its checks as usual. (Default: true)

- trigger_objects (optional) is a list of strings; if this list is non-empty, any request containing any of these strings will be replayed using the attacker credentials. This wa

[2021-05-22 23:56] chakeson commented on #220
Hello, what do you mean by exceptions are swallowed?
Do you want to "raise Exception"?
Or is it with "with" doing "with open(grammar_path, 'r') as (grammar err):" instead?
Or do mean in restler/restler.py on line 506-507 where you have a sys.exit with no logging [link](https://github.com/microsoft/restler-fuzzer/blob/d8210ff7b559f8055218e4cc359347e98e387ff4/restler/restler.py#L506)
Or do mean in r

[2021-05-23 05:52] marina-p commented on #220
Hello,

The user should see the exception and call stack in the standard error.  Currently, there is no exception and only an error is printed, making it more difficult to diagnose issues.  So, for the fix, if 'raise Exception' modified in one place causes the call stack to be printed, that is a sufficient fix.  If not, you will have to trace if it is being caught again later, and modify those pla

[2021-05-25 00:15] chakeson commented on #220
Since "raise Exception" will crash the program which might not be desired behaviour alot of the time. A better solution might be "logger.exception()" which depending on how the logger is set up will print to the logfile and the stdout.
The information it prints contains the Traceback with timestamps and the callstack.

<details>
  <summary>Example of logger.exception output</summary>

  2021-05-24

[2021-05-25 00:24] marina-p commented on #220
Yep, thanks, this is a better solution.

[2021-05-25 11:21] LYDE1234 opened #224 "Examples sample"
Could you provide a sample in the repo that shows how examples can be used? I've read the Examples.md documentation but it would be useful to see demonstration of using an external example file and how the DiscoverExamples=true works with inline examples.

[2021-05-25 15:18] marina-p commented on #224
Thanks for the suggestion.  We will add this.

[2021-05-25 19:24] marina-p commented on #224
@LYDE1234 In case this will unblock you, there is an example of this in unit tests which you can use for now as a reference.  It shows a referenced payload example: /src/compiler/Restler.Compiler.Test/swagger/array_example.json and the referenced example /src/compiler/Restler.Compiler.Test/swagger/examples/make_order_descriptions.json.

(Note it's a relative path so you will need to put it in an '

[2021-05-25 19:27] marina-p commented on #224
```DiscoverExamples=true``` does not apply to inline examples in the specification, only external examples of an entire payload.    This is because there is already a way to specify individual values in the ```restler_custom_payload``` section of the dictionary.

Question: would it be useful for you if when ```DiscoverExamples``` is set to ```true```, those inline example values would be added to

[2021-05-25 22:24] #221 closed

[2021-05-26 14:01] tomwatson1024 opened #226 "Invalid HTTP generated when using path `/`"
Configuring the path `/` with method POST in a Swagger 2.0 specification results in the fuzzer sending invalid HTTP to the server under test. In particular, the request target is the empty string instead of the absolute path `/` - that is, the request line reads:

[code]

whereas it should read:

[code]

See https://datatracker.ietf.org/doc/html/rfc7230#section-5.3.

[2021-05-27 12:04] dansibleadm opened #229 "HTTP/2.0 support"
Will HTTP/2.0 support be available in the foreseeable future?

Thank you!

[2021-05-27 15:44] WaelAbuSeada opened #230 "Add postman file to Restler logs"
Add postman file to Restler fuzzing/testing logs, like in RAFT.

[2021-05-27 18:01] dagit opened #231 "Results analysis exception: Unexpected response without prior request"
I left an overnight `fuzz` run going and when I came back to it in the morning it said:

[code]

The stderr for the results analyzer had this message:

[code]

I believe this is the relevant part of the logs:

This part occurs in `network.testing.139757285221952.1.txt`
[code]

And continues in `network.testing.139757285221952.2.txt`
[code]

Let me know if I can provide any other useful debugging i

[2021-05-27 19:32] PatGod opened #232 "crash in ExamplesChecker"
After a long fuzz-lean RESTler job, the ExamplesChecker crashed – see the EngineStdOut.txt file below.

[code]

[2021-05-28 04:50] marina-p opened #233 "add ability to test all combinations in Test mode"
By default, test mode will try to execute each request successfully once.
This means that, if there are 5 possible values for a parameter,
and the request is successfully executed when passing the first value,
the remaining 4 will not be tested.  In some cases, such as for differential
regression testing, it is desired to test all of the specified parameter values
in Test mode.

[2021-05-28 16:43] #226 closed

[2021-05-29 02:06] #196 closed

[2021-05-31 18:15] mbiuki commented on #200
I have had this issue before. It is not clear by reading the documentation whether we have to add the `HTTPS` prefix or not. I tried a few options including dropping the prefix until it worked. Watching the communication with Wireshark helped too. My suggestion for authors is to update the documentation to describe the format of the host string. For example, other API fuzzers, such as [Schemathesi

[2021-05-31 18:21] marina-p commented on #200
Thank you @mbiuki for the suggestion to update the docs.  I will create a new issue for this.

[2021-05-31 18:21] marina-p opened #235 "add documentation showing an example of the host parameter"
See related issue #200 for discussion.

[2021-05-31 19:32] mbiuki commented on #204
Hi @marina-p and @PatGod,

I have a suggestion here. Is there a possibility that similar to [Schemathesis ](https://schemathesis.readthedocs.io/en/stable/introduction.html), RESTler could also report discrepancies between the open API spec and the query responses? For example, if the server sends 403 and that is not defined in the spec for a particular endpoint, RESTler should take note of this in

[2021-05-31 19:48] mbiuki commented on #216
This is a great suggestion and I second it. It would be nice to either explain the expectation of Test and FuzzLean although for large specs this could take a long time for it to exhaust the space, or, even better, let the Test/FuzzLean run for a duration of time using the same `time_budget` syntax.

[2021-05-31 20:55] mbiuki commented on #224
 
Sorry to meddle in. But, I believe this somehow reflects on general improvements for the Compiler suggested [here](https://github.com/microsoft/restler-fuzzer/pull/183#issuecomment-851607304). It'd be great to see that the first time that RESTler compiles with the open API, it can generate a baseline body model to populate `examples.json`. This way, a user would have an idea about how the body e

[2021-06-02 10:01] AML14 opened #236 "RESTler build error"
Hi,

Thanks for the great tool.

I'm trying to build RESTler but I'm getting some errors. I'm using a Windows 10 PC (64 bits), and I tried both with Cmd and Powershell. I installed Python 3.8.2 and .NET, as requested. When running the following command:

[code]

I get the following output:

[code]

And then, at the end of the script execution, only an `engine` folder is generated in the destinatio

[2021-06-02 20:52] marina-p commented on #236
Hello @AML14,

Could you please share the output of these two commands:

[2021-06-04 14:11] su23bir commented on #236
Hi There, I had the same issue at my end.

1. So I uninstalled my existing Visual Studio 2019 to remove any potential overlaps of .NET and nugets
2. Reinstalled the .Net SDK 5.0.3
3. Reinstalled the Visual Studio 2019
4. Built the RESTler following the build instructions mentioned in the Github page: https://github.com/microsoft/restler-fuzzer

It Worked.

[2021-06-04 18:26] #232 closed

[2021-06-04 20:17] efebarlas commented on #135
Hi, I am working on a project that would benefit a lot from custom payloads. Unfortunately, I was not able to get it to work from the existing documentation. Can you add more documentation for this issue when you have the time?

[2021-06-04 21:22] marina-p commented on #135
Hello @efebarlas,

Yes, we will add the documentation.  In the meantime, do the following examples unblock you?

The json pointer refers to the json body type of the response only.  If you have two different endpoints with the same body json type, and need to specify different custom payloads for them, you will have to add them both to the same list in the dictionary, and both endpoints will test

[2021-06-04 23:25] PatGod opened #238 "Payloadbody Checker mistakenly converts 'null' to 'None' values extracted from examples"
This bug is due to a wrong JSON-to-Python conversion when reading values extracted from examples (via parsing grammar.json).

Self-assigned -- will fix shortly.

[2021-06-05 01:59] #238 closed

[2021-06-09 00:04] PatGod opened #240 "Remove/skip the subdir "experiment<_pid_>" under RestlerResults directory"
Suggestion: remove/skip the "experiment<_pid_>" subdir under RestlerResults.

Thus, the RestlerResults will now be of the form:

`RestlerResults/logs/...`
`RestlerResults/bug_buckets/...`
Etc.

instead of

`RestlerResults/experiment<_pid_>/logs/...`
`RestlerResults/experiment<_pid_>/bug_buckets/...`
Etc.

Motivation: the random <_pid_> needlessly complicates automatically post-processing the Restl

[2021-06-09 14:38] stishkin commented on #240
This will also break RAFT, since we do automatic post processing of RESTler results.

[2021-06-09 16:37] marina-p commented on #240
We could first get rid of the random PID, and just have a constant "0".  Stas, would that avoid breaking RAFT?

[2021-06-09 16:42] stishkin commented on #240
@marina-p  - it's ok to remove pid altogether. Just let us know when you do it  - so we could adjust our implementation.

[2021-06-09 19:02] efebarlas commented on #135
Yes, these examples were very helpful. I will look at other custom payload unit tests as well. Thank you!

[2021-06-11 10:26] AML14 commented on #236
Hi @marina-p and sorry for the late response.

I followed @su23bir advice but still no luck. This is the output to the commands mentioned:

Input: `dotnet --version`
Output:
[code]

Input: `dotnet nuget list source`
Output:
[code]

"Orígenes registrados" means "Origins found". "Habilitado" means "Enabled".

The output to the second command I only got it after installing Visual Studio 2019 **with t

[2021-06-11 10:48] su23bir commented on #236
This is what I see when I run from CMD prompt:

Registered Sources:
  1.  nuget.org [Enabled]
      https://api.nuget.org/v3/index.json
  2.  Microsoft Visual Studio Offline Packages [Enabled]
      C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\

I (re)installed Visual Studio 2019 Community Edition with following packages:
1. ASP.NET & web development
2. Azure development
3. Pyhton developme

[2021-06-11 15:58] PatGod commented on #240
Thank you for all your comments.

Yes, a new option `use_fixed_dirname` to control this new behavior makes sense, and setting it off (False) by default would preserve the current behavior and backward-compatibility.

I can submit a PR for this soon.

[2021-06-14 20:15] marina-p commented on #236
@AML14 That's interesting that you do not have item 1 enabled as in @su23bir's output above after following the installation steps.

Could you please try the following two steps, and let us know if it resolves your issue?

1.

2. Update Line 163 of the build script and change it to the below (which adds an explicit -s switch for where to look for nuget packages):
[code]

[2021-06-15 23:13] mbiuki commented on #240
This looks like a very good suggestion. It saves one layer of subdir complexity. However, we would have to make changes to our fuzzer post-processing scripts at our front since we are dependent on RESTler logs, too.

[2021-06-15 23:13] mbiuki commented on #240
Please let us know when this option is implemented and how we can activate it?
Thanks!

[2021-06-15 23:18] PatGod commented on #240
Hi @mbiuki Mehdi, this will be implemented shortly with a new option 'save_results_in_fixed_dirname' which you can set to 'true' in the settings.json file - see PR #243 which is currently under review and should be merged very soon.

[2021-06-16 00:05] #240 closed

[2021-06-17 19:28] marina-p commented on #233
Closing - merged #244

[2021-06-17 19:28] #233 closed

[2021-06-21 08:00] jiaxian-lin commented on #136
![image](https://user-images.githubusercontent.com/71680354/122727366-881f7100-d2a9-11eb-919c-03129faafeac.png)
i have same problem and  network.testing log look like this:
![image](https://user-images.githubusercontent.com/71680354/122727569-bdc45a00-d2a9-11eb-910b-e9814c7e40d2.png)

[2021-06-21 15:59] PatGod commented on #136
On the second line, can you try printing: 'Authorization: **Bearer** ey...'?

[2021-06-22 12:36] jiaxian-lin commented on #136
![image](https://user-images.githubusercontent.com/71680354/122925382-a02fd880-d31b-11eb-943a-3795eafa1833.png)
yes, But the problem is not solved

[2021-06-22 18:27] marina-p commented on #136
Hello @jiaxian-lin,

Could you please try to add the full path to python to the token refresh command:

```--token_refresh_command "<full path to python> <full-directory>/login.py" ```

I believe that confusing message is printed when 'python' is not found.  Please let us know if that solves your issue.

[2021-06-23 02:39] jiaxian-lin commented on #136
Thanks for your help,but this situation still exists
![image](https://user-images.githubusercontent.com/71680354/123026591-4c5fd680-d391-11eb-8256-25a40cdaee84.png)
![image](https://user-images.githubusercontent.com/71680354/123026731-8630dd00-d391-11eb-8eb7-3d8f2b1a66a9.png)

[2021-06-23 03:17] jiaxian-lin commented on #136
it's work! thank you for the help!

[2021-06-23 03:18] HiteshSharma1987 opened #249 "Header fuzzing: Trying all combinations of optional parameters"
Each API has set of headers which is to be fuzzed. If all parameters are specified in the swagger, RESTler picks all the headers together and try different values given in enum.
For instance,  There are 5 headers (A, B, C, D, E). A & B are mandatory (required = true), C, D, E are optional (required = false).
If all headers are specified as part of swagger, in test_all_combination mode RESTler pick

[2021-06-24 10:47] #229 closed

[2021-06-28 07:42] h0rs3fa11 opened #251 "Would you display the details when the compile failed?"
It's hard to find out the reason of compile failed through restler-fuzzer/Compile/StdErr.txt, this file only contained the exception of source code, It would be better if the error can point to a specific api file.

eg.
[code]

[2021-06-29 09:35] h0rs3fa11 commented on #251
Does anyone know `non-array should always have a property name` means in a swagger file?

[2021-06-29 18:31] marina-p commented on #251
Hello @h0rs3fa11,

This means that there is a type for which RESTler expects a property name, but it did not find one in the spec.  Arrays are an exception, because the array element does not have a name.  There may be another case missing.

Could you please build the mp/diag branch and paste what is printed in the exception?  I added more diagnostic info to see which type is failing.

We'll also

[2021-06-30 01:48] h0rs3fa11 commented on #251
It's strange, I compile succeeded after pulling the newest code

[2021-06-30 03:05] marina-p commented on #251
That's strange.  Was it an older version, or the commit right before?

(I'd like to keep this issue open until the additional logging is added, so please do not close it.)

Thanks!

[2021-06-30 05:59] h0rs3fa11 commented on #251
I don't remember the version that I used before. And I will not to close this issue.
Thank you for your reply!

[2021-07-05 10:12] omerfirmak opened #256 "docker image not available"
Failing with;

[code]

[code]

[2021-07-06 18:52] marina-p commented on #256
Thanks you for reporting, working on resolving this.

[2021-07-07 18:05] marina-p commented on #256
The README for the image had an incorrect path.  This is being fixed now.  Could you please try using this path instead:
docker pull mcr.microsoft.com/restlerfuzzer/restler:v7.4.0

[2021-07-07 18:17] stishkin opened #257 "RESTler v8.0.0 Compilation step fails"
Compilation step failed with

```Cannot import grammar: local variable 'param_name' referenced before assignment```

[2021-07-07 18:27] #257 closed

[2021-07-09 08:35] omerfirmak commented on #256
Works! Thanks.

[2021-07-09 08:35] #256 closed

[2021-07-12 15:53] Joris-Kuehl opened #260 "Producer-consumer dependency turns everything into a string"
Hello, I am very new to Restler and trying to follow the tutorial with my own simple Todo Api. During the Test Step I am only getting one bug that - as far as I can tell - is on Restler more so than the API. Every endpoint depends on the POST endpoint. From the network.testing.<xxxx>.txt, it seems that all properties extracted from the producer are surrounded by quotation marks, turning them into

[2021-07-13 09:54] HID-jthierry opened #261 "SCIM API: dependency on Location header and location URI usage"
Hello,

We are using RESTler to test one of our SCIM API.

We have a request `POST /service/user` that returns the URI of the new resource in the HTTP "Location" header, in the form `https://host/service/user/{user_id}`.

[code]

Below are the requests using the location URI:

`GET /service/user/{user_id}`
`PUT /service/user/{user_id}`
`DELETE /service/user/{user_id}`

Is there a way with RESTler

[2021-07-13 17:01] michaelgregson opened #262 "Cannot import custom mutations: 'charmap' codec can't decode byte"
Starting restler with cmd: `Restler.exe test --grammar_file Compile\grammar.py --dictionary_file Compile\dict.json`

Result: `ERROR: Restler engine failed. See logs in \Test directory for more information.`

EngineStdErr is empty; this is the information in EngineStdOut:

`Cannot import custom mutations: 'charmap' codec can't decode byte 0x81 in position 1967: character maps to <undefined>`

I can

[2021-07-14 04:55] marina-p commented on #260
Hello @Joris-Kuehl,

Thank you for reporting this.  These are both RESTler issues, we will fix them ASAP.

Unfortunately, for the quotes the only workaround is to manually modify the grammar and get rid of the extra quotes that are being generated, for example:

[code]

A workaround for the boolean is to specify a ```restler_custom_payload``` in the dictionary for ``isComplete`` to test the ```tru

[2021-07-14 05:21] marina-p commented on #261
Hello @T-Jonat,

Indeed, RESTler does not support this today.

First, RESTler does not yet support dependencies in headers.  We were planning to enable this soon using annotations.

Unfortunately, even after this is added, you still could not use annotations for your use case because RESTler only generates dependencies between individual parameters and response properties.   There is no way today

[2021-07-14 22:52] #260 closed

[2021-07-14 23:41] marina-p opened #266 "do not print the entire list of fuzz strings every time in the network logs"
The request definition contains the entire list of fuzzable strings from the dictionary, which can be very large.

We should make sure this is not duplicated across requests, and also avoid printing it every time in main.txt/network.testing*.txt.

[2021-07-15 20:36] marina-p commented on #262
Hello @michaelgregson,

I've merged a fix that resolves the error.  However, it would be great if you could sanity check that the interesting strings are being sent to the server in the way that you expect (please let us know if you see issues).

Aside: if you are going to test a large number of those strings, make sure you increase max_combinations in the engine settings to make sure all those st

[2021-07-15 20:36] #262 closed

[2021-07-16 05:15] AML14 commented on #236
@marina-p that solved the issue. Thanks. This is the complete output for if you want to double-check:

[code]

[2021-07-19 15:22] QuentinCognard commented on #261
Hello,

I am very interested by this feature for my project ! Do you have any idea about when it will be implemented ? ( Like maybe in few months or weeks ? )

Thank you !

Quentin

[2021-07-19 15:29] marina-p commented on #261
Hello @QuentinCognard,

Probably sometime in September, possibly earlier.

Thank you,

Marina

[2021-07-21 15:03] devikasondhi commented on #211
Hello,

This is a follow up to the suggested solution. How to add the customised dictionary during the compile phase? Is there a specific runtime parameter that I should pass when running RESTler in compile mode?

[2021-07-26 08:57] devikasondhi opened #269 "Way to specify specific operation for fuzzing"
Hi,

I have a large spec file for an API containing description of several microservices. I'm interested in testing only a particular operation of a microservice (and its producers). Is there a way I can specify this when executing RESTler?

[2021-07-26 10:00] Joris-Kuehl commented on #260
Hey @marina-p , thank you for the response and sorry I haven't been able to get back to you for a while.
The commit does fix the quotation mark issue, but Restler still capitalizes the boolean value (see below), most likely because booleans start with uppercase in Python?

<pre><code>2021-07-26 11:26:29.140: Sending: 'POST /api/TodoItems HTTP/1.1\r\nAccept: application/json\r\nHost: localhost:2778

[2021-07-26 16:17] rhtenhove opened #270 "Compiler failure has an exit code of 0"
When `compile` fails, the exit code is 0. This hides problems in a CI pipeline, where the fuzz jobs which depend on compilation would subsequently fail.

For example

[code]

Tested using docker image `mcr.microsoft.com/restlerfuzzer/restler:v8.0.0`

[2021-07-26 16:37] PatGod commented on #269
Hi,

In Test or Fuzz-lean or Fuzz modes, you can use the path_regex option to filter the API paths you are interested in testing. See https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/SettingsFile.md#path_regex-str-default-noneno-regex-filtering

Example: when invoking restler.exe, add the option

`--path_regex "(XXX)|(YYY)"`

to test/fuzz only the paths including the strings X

[2021-07-26 19:18] marina-p commented on #270
Thanks for reporting, we will fix this ASAP.

[2021-07-27 08:30] Joris-Kuehl opened #271 "Producer-consumer dependency turns boolean values to uppercase"
Hello,
this is referencing my original post in issue #260. The quotation issue has been fixed but I still have another issue in the same setup: The boolean value passed by the dependency turns from lowercase to uppercase.

<pre><code>
2021-07-26 11:26:29.140: Sending: 'POST /api/TodoItems HTTP/1.1\r\nAccept: application/json\r\nHost: localhost:27788\r\nContent-Type: application/json\r\nContent-Len

[2021-07-27 15:10] Joris-Kuehl opened #272 "How do I force Restler to try out all different values provided in a custom payload?"
... or what would be the best practice to achieve something similar, if custom payloads are not intended for this purpose?
I am testing Restler on a very simple CRUD Api for TodoItems <code>(id: Integer, name: String, isComplete: Boolean)</code> and have provided the following custom payload in the dictionary:
<pre><code>"restler_custom_payload": {
  "name": [
    "fuzzstring", "ultrasuperduperann

[2021-07-27 15:41] c7h opened #273 "Segmentation fault on Ubuntu"
Hello RESTler Team!
I've discovered that newer versions of RESTler won't execute after a build on my Ubuntu 20.04 system.

I'm using the _DotNet SDK Version: 5.0.302_ and _Python 3.8.10_.
The _$DOTNET_ROOT_ is set to _/snap/dotnet-sdk/current_ and can be found.

After complication, I tried to execute the Restler binary, which resulted in a SegFault:

[code]

Clearing the nuget-cache also did not f

[2021-07-28 08:28] Joris-Kuehl commented on #272
I just realized the --test_all_combinations flag does what I want, though it only works in Test and Fuzz-Lean modes.
I am keeping the issue open for now because running help or trying to use the flag in Fuzz mode says it only works in Test mode, even though it works perfectly fine in Fuzz-Lean, so that's a very minor documentation error.

[2021-07-28 16:47] PatGod commented on #272
@Joris-Kuehl Hi Joris,

In fuzz mode, RESTler is supposed to try all possible value combinations up to max_combinations per request (by default 20) - see https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/SettingsFile.md#max_combinations-int-default-20 -- are you sure that limit is not exceeded?

Yes, test-all-combinations is a new option to force this behavior, that is, trying

[2021-07-28 18:19] Joris-Kuehl commented on #272
@PatGod Hi Patrice,
thank you for the reply. I am fairly sure the limit was not exceeded. I have since made some changes. Namely, the error is now triggered by special characters in the name and is a 500 instead of 501. The most recent setup in which i have verified this uses the following dictionary:
<pre><code>{
  "restler_fuzzable_string": [
    "fuzzstring"
  ],
  "restler_fuzzable_string_unqu

[2021-07-28 18:43] PatGod commented on #272
@Joris-Kuehl Hi Joris,

Thank you for your detailed report and additional information.

In fuzz mode, I expected RESTler to try all these combinations as soon as it reaches that POST request the first time (that is, early in the search). But perhaps RESTler treats lists of values with 'rester_custom_payload' differently from lists of values with 'restler_fuzzable_*' -- for the latter, it should de

[2021-07-28 19:50] Joris-Kuehl commented on #272
I have now tried this dictionary, moving the list of names up to restler_fuzzable_string:

<pre><code>{
  "restler_fuzzable_string": [
    "namestring", "??????????"
  ],
  "restler_fuzzable_string_unquoted": [],
  "restler_fuzzable_datetime": [
    "2019-06-26T20:20:39+00:00"
  ],
  "restler_fuzzable_datetime_unquoted": [],
  "restler_fuzzable_uuid4": [
    "566048da-ed19-4cd3-8e0a-b7e0e1ec4d72"

[2021-07-29 23:49] PatGod commented on #272
@Joris-Kuehl Hi Joris,

Thanks for confirming. I actually can confirm this behavior with my own tests.

@marina-p To summarize, fuzz mode now behaves like the test (and fuzz-lean) mode: alternate values (specified in the fuzzing dictionary) are now only considered when a request is failing. Isn't this a regression?

(This would also mean we don't have a unit-test that covers this behavior of the f

[2021-07-30 00:19] marina-p commented on #272
@Joris-Kuehl @PatGod Thank you for the detailed description and repro steps!  This sounds like a bug.  The code is supposed to do the same thing in fuzz mode as in testing all combinations:

[code]

(and one of the engine unit tests is supposed to test for this behavior).

I will investigate.

Thanks,

Marina

[2021-08-03 14:32] dansibleadm opened #277 "HTTP/2.0 implementation"
Hello, everyone!

I would like to implement **HTTP/2** support in RESTler.
Could it be useful for community? We need your opinion/feedback.
In case of any questions, feel free to ask.

[2021-08-03 16:08] HiteshSharma1987 opened #278 "query parameters fuzzing: Trying all combinations of optional query parameters"
Each API has set of optional query parameters which are to be fuzzed. If all parameters are specified in the swagger, RESTler picks all the headers together and try different values given in enum.
For instance, There are 5 query parameters (A, B, C, D, E). A & B are mandatory (required = true), C, D, E are optional (required = false).
If all query parameters are specified as part of swagger, in te

[2021-08-04 12:39] c7h commented on #261
hello @marina-p, I am facing the same problem as @QuentinCognard. I have a bunch of APIs that return the URI of the newly created resource in the _Location_ header.

Unfortunately, I cannot modify the API to return just the resource ID. I would like to express my wish for a feature to extract certain parameters from the URI in the location header to resolve the producer/consumer dependencies.

[2021-08-04 15:31] JuKu opened #280 "JsonSerializationException"
Hi,

first, thanks for your great work!

I use RESTler and want to compile Swagger / OpenAPI 2.0 specification.
If i run `Restler compile --api_spec swagger.json`, i get the following exception:
[code]

JSON:
[code]

The JSON was created with Java org.json library.

Is there a bug in your JSON deserializer?

[2021-08-04 16:42] JuKu commented on #280
I think i have found the cause and the solution:
It seems to be, that the in-type "form" is not allowed. Instead "query" has to be used here. Than the compilation works.

[2021-08-04 20:06] marina-p commented on #277
Hello @dansibleadm,

This would be useful to enable.  We have not gotten too much feedback from the community about HTTP/2 support, and it is not in our current road map, but we are happy to work with you to implement it.

To start with, we should spec out the requirements for what changes are needed to RESTler to enable this.  I think it would be useful to have a very small HTTP/2-based test serv

[2021-08-04 20:23] Daylend opened #281 "NullReferenceException in CodeGenerator.fs getRequests"
Command run:

Crash report:
[code]
I don't think I can include the api_spec file. However, I've run the spec through the swagger.io validator and it appears to be valid.

Using the quick start command attempts to run the generated grammar file, resulting in:

Thanks!

[2021-08-05 07:45] dansibleadm commented on #277
Thanks **@marina-p** for your feedback!

As I know, the module that comes with python (socket) don't support http/2. So, there we can only re-write TransportLayer module of RESTler for http/1.1 and http/2.0 support where TransportLayer will work with help of side-module (e.g. hyper or httpx).

I agree with you about test service. This service we can create with help of httpx or hyper-h2 (not hyper

[2021-08-06 07:47] dansibleadm commented on #277
In fact, it is possible to make an implementation on sockets, but this will require a lot of additional actions, so for convenience, I suggest using a third-party library.

[2021-08-10 12:00] dansibleadm opened #282 "Excluding operations"
Hello everyone!

Is possible to exclude some operationId?

Use case: I need to exclude "delete"-operation from fuzzing process. How I can do that?

Thank you!

[2021-08-10 14:16] dansibleadm commented on #282
That not a good way too. For some purposes I need exclude operations and then bring them back again. For example, Yelp/fuzz-lightyear support this feature and I hope RESTler support it too. As I understand, RESTler does not support it.. =(

In my opinion, the good way is exclude any modifications of source specification.

[2021-08-10 15:19] PatGod commented on #282
You can also try two other options for this:
- use the path_regex option to filter the API paths you are interested in testing -- see https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/SettingsFile.md#path_regex-str-default-noneno-regex-filtering and issue #269
- edit the file grammar.py (manually or with a script) to remove all the API requests you don't want to test/fuzz.

[2021-08-10 15:20] #269 closed

[2021-08-10 15:21] #199 closed

[2021-08-10 18:02] marina-p commented on #282
Hello @dansibleadm,

RESTler does not support excluding just one of the methods today.  Can you please provide more information about your use case?  If you just exclude a DELETE for one method, do you still want to run/fuzz the corresponding PUT/POST?  If yes, is the fact that many objects will be created but not ever deleted OK for your use case?  Or is it more about creating something outside t

[2021-08-10 18:30] dansibleadm commented on #282
My case is, for example:
I have some server with data. I need to fuzz it via OAI specification.
1) When I create custom payloads - some resources will be deleted and part of request will not be executed.
2) With custom payloads I need some static data about target (e.g. blogId, authorId, instanceId and etc.). When DELETE-operation was executed - I need to change my dict with new data. This is inco

[2021-08-10 18:31] dansibleadm commented on #282
Thank you for the advice! I will try it.

[2021-08-10 20:11] marina-p commented on #282
Thanks, this is helpful.  Right now the quickest way to accomplish what you are trying to do is to edit the grammar.py file and just comment out the request definitions of the DELETE request blocks.  We will implement a better solution for this soon.

[2021-08-11 07:01] dansibleadm commented on #282
Thank you for your feedback!

[2021-08-12 10:45] mynjj commented on #141
Just as reference (and perhaps aiding on capturing requirements @marina-p),

for the parsing path parameters like `/companies({company_id})` I created this [fork](https://github.com/mynjj/restler-fuzzer) that works for my current use case 😄  .. haven't tested it thoroughly

Would be nice to hear thoughts on this

[2021-08-13 00:17] PatGod commented on #272
@marina-p This behavior is actually expected because the 'fuzz' mode currently uses the 'bfs-cheap' search strategy - see line 378 of src/driver/Program.fs (https://github.com/microsoft/restler-fuzzer/blob/d8f73524187330c3d8ca12b749996f40d9a64393/src/driver/Program.fs#L378

        let fuzzingParameters =
            (getCommonParameters parameters (Some maxDurationHours))
            @

[2021-08-13 10:19] abhibnp opened #283 "Request coverage (successful / total): 0 / 6"
Hi,
while running the C:\fuzzer\bin>python C:\fuzzer\bin\rest\restler-quick-start.py --api_spec_path C:\fuzzer\bin\rest\demo_server\swagger.json --restler_drop_dir .\rest command i'm getting
Request coverage (successful / total): 0 / 6

![fuzzer_issue](https://user-images.githubusercontent.com/64185535/129342825-f680d95f-4652-4730-ae74-7f1867a6cc88.png)

[2021-08-13 15:07] PatGod commented on #283
Hi, as already specified in https://github.com/microsoft/restler-fuzzer, please install Python 3.8.2 and that problem should go away.

[2021-08-13 16:37] abhibnp commented on #283
Hi @PatGod
facing same problem after installing python 3.8.2

![gitHub2](https://user-images.githubusercontent.com/64185535/129391208-235ca428-bb03-4d5d-b370-9f5514accfe3.jpg)

[2021-08-13 17:44] marina-p commented on #283
Hello @abhibnp,

Is demo_server running?  If yes, could you please share the output from the network log for one of the failing requests?

[2021-08-14 07:11] abhibnp commented on #283
Hi @marina-p  yes demo_server is running.
![git3](https://user-images.githubusercontent.com/64185535/129438347-f0c90ea1-299a-4461-852d-c87a1a87e8bc.png)

[2021-08-14 07:18] abhibnp commented on #283
![git4](https://user-images.githubusercontent.com/64185535/129438528-edab86ed-1713-44ae-9380-826121a5f5b8.png)

[2021-08-14 22:12] marina-p commented on #283
@abhibnp Could you please share the network.testing.*.txt output?  For example:

    2021-08-07 14:02:31.123: Sending: 'GET /api/blog/posts?per_page=2&page=1 HTTP/1.1\r\nAccept: application/json\r\nHost: localhost:8888\r\nContent-Length: 0\r\nUser-Agent: restler/8.0.0\r\n\r\n'

    2021-08-07 14:02:31.137: Received: 'HTTP/1.1 200 OK\r\nContent-Type: application/json\r\nContent-Length: 211\r\nServe

[2021-08-16 05:22] abhibnp commented on #283
2021-08-13 21:51:29.684: 'Exception Creating Socket: [WinError 10061] No connection could be made because the target machine actively refused it'

2021-08-13 21:51:33.026: 'Exception Creating Socket: [WinError 10061] No connection could be made because the target machine actively refused it'
2021-08-13 21:51:33.068: 'Exception parsing response, data was not valid json: the JSON object must be str,

[2021-08-16 18:53] marina-p opened #284 "add max_combinations to the schema combinations settings"
The user should be able to limit the number of header or query combinations separately from the overall limit of max_combinations.

The test combinations settings should be modified as follows:

[code]

[2021-08-16 19:34] PatGod commented on #272
@marina-p I have just assigned this item to myself and will take care of it.

I suggest the following changes:
- in fuzz mode, let's bfs-fast become the default-search strategy.
- let's add a new 'search-strategy' option to the main driver restler.exe where the user can instead select bfs or bfs-cheap.

(Note: historically, bfs-cheap become the default search strategy in fuzz mode after the checke

[2021-08-16 19:47] marina-p opened #285 "support fuzzing API specifications with x-ms-path"
_x-ms-paths_ is a Swagger/OpenAPI extension that enables users to provide a separate section in the specification instead of or in addition to "paths", called "x-ms-paths".  The following describes the additional feature it enables:

Currently, RESTler does not support the above extension, so requests with endpoints in x-ms-path format cannot be fuzzed.

To enable this support in RESTler, the foll

[2021-08-16 19:54] marina-p opened #286 "support multiple producers for a consumer"
RESTler currently does not support cases when several request types produce a resource that is referred to by its ID, and a request type performs operations on either of these resource types.

For example:

RESTler will only be able to test one of the PUT; GET sequences above, because it does not search for all possible producers.

RESTler should be able to support the above scenario.

To start wi

[2021-08-16 20:14] marina-p commented on #272
@PatGod Sounds good.  Thank you!

(I believe it's implied by the above but just in case: from the driver, the new search strategy should work just for Fuzz mode, not Fuzz-Lean)

[2021-08-16 20:47] marina-p opened #287 "Allow injecting custom query parameters in the dictionary"
ln some cases, not all query parameters are declared as part of the specification under test and an additional parameter needs to be appended to all requests.  For example: a parameter that specifies an application ID or additional authorization options.

This can be enabled via a ```restler_custom_payload_query``` parameter similar to already supported ```restler_custom_payload_header```.

[2021-08-17 00:28] PatGod commented on #272
@Joris-Kuehl PR #288 will set the new default search-strategy to bfs-fast in fuzz mode and will enumerate all the values you specified in your directory as you expected.

This PR will be merged shortly and will close this issue.

Let us know if you have any other comments. Thanks (and sorry for the delay...)!

[2021-08-17 00:46] #272 closed

[2021-08-17 16:14] c7h opened #290 "Spec Preprocessor fails while resolving external file $ref"
Hello,

I have an OAS with external file `$ref`s . During compilations, I receive the following error message:

[code]

**Steps to reproduce:**

1. Get Swagger specifications from https://github.com/jdegre/5GC_APIs
2. Compile with `./Restler compile --api_spec ../5GC_APIs/TS29510_Nnrf_NFManagement.yaml`

Best,
Christoph

[2021-08-17 19:59] #290 closed

[2021-08-17 20:22] #236 closed

[2021-08-18 17:39] #287 closed

[2021-08-18 20:09] marina-p opened #293 "add demo_server end to end test for all the fuzzing modes"
Currently, only 'Test' mode is being covered with an end to end test.

We should have test coverage for all the main modes in which RESTler is used:

1) Test mode (already in place)
2) Test mode with all combinations
3) FuzzLean mode with payload body checker
4) Fuzz mode (use max_sequence_length)
5) [should be added when merging the code], schema search modes such as testing header, query, body p

[2021-08-19 10:18] rhtenhove opened #295 "Cache dir creation fails when using a non-existing user"
When running this using Docker under another user than `root`, it can't run because it can't create the cache directory.

I can't see a way to change that directory. Perhaps a good fallback is to create it in `/tmp` when it is unable to create it, or just allow disabling cache.

For example:

[code]

[2021-08-19 18:28] loremIpsum1771 opened #296 "How to set auth cookie in order to invoke REST endpoint with RESTler"
I'm trying to invoke RESTler in test mode using the command `dotnet Restler.dll test --grammar_file Compile/grammar.py --dictionary_file Compile/dict.json`  but I'm getting the following error:

**network.testing file:**
[code]

I've added an auth cookie to the `restler_custom_payload_header` attribute of the custom-header.json file. I've replaced the session id and the auth tokens with placeholde

[2021-08-20 09:29] QuanQuanoooooo opened #298 "Gitlab Specification used in the validation section"
Hello, Gitlab has been used in the validation part of RESTler, but Gitlab does not have an official specification document. I want to compare Restler with the tool I developed, so I was wondering if you could provide the specification document that your paper used for experiments?

[2021-08-20 16:30] PatGod commented on #298
Hello, this question has already been asked and answered in issue #210

[2021-08-20 22:51] #278 closed

[2021-08-20 23:09] marina-p commented on #296
Hello @loremIpsum1771,

You need to use this dictionary with the cookie defined when you compile.  Then, the grammar will have the injected header.  It cannot be specified only at engine time.  (You can still change the values of the cookie in the dictionary without recompiling).

Thanks,

Marina

[2021-08-20 23:14] marina-p commented on #295
Thanks for reporting this, we will look into this ASAP.

[2021-08-20 23:17] marina-p commented on #295
This dir is only used for persisting a unique ID for our telemetry data, it is not used for storing the Compile directories etc. (those are placed in the current working directory).

Using /tmp instead if creating the directory in the cache fails seems reasonable.

[2021-08-20 23:18] marina-p commented on #285
Closing since #297 was merged.

[2021-08-20 23:18] #285 closed

[2021-08-23 01:04] #298 closed

[2021-08-23 12:40] c7h commented on #273
I found the issue - snap installed the DotNET SDK for the wrong architecture. After [manually installing the dotnet-sdk](https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-5.0.400-linux-x64-binaries), it worked flawless.

I am closing this issue, since it's not RESTler related.

[2021-08-23 12:40] #273 closed

[2021-08-23 16:23] PatGod commented on #273
Hi @c7h Christoph, thanks for the info and confirming!

[2021-08-23 20:26] marina-p commented on #277
Hi @dansibleadm,
Apologies for the delay in responding.

Regarding TransportLayer: it is fine to use either hyper or httpx as helper modules, however, one issue that may come up is that RESTler was designed so that it is possible to fuzz malformed requests.  Please test whether this is possible with these higher level libraries.  We don't have specific tests for this today, but we can help you add

[2021-08-23 20:31] marina-p commented on #281
Hello @Daylend ,

Thanks for the bug report. There should be one more line in the standard error output, could you please add it?  The exception that was thrown is missing in the description.

Thanks,

Marina

[2021-08-23 20:43] marina-p commented on #203
This was implemented in PR #206.  Closing the issue.

[2021-08-23 20:43] #203 closed

[2021-08-24 07:50] dansibleadm commented on #277
Hi, Marina!

No problem! Thank you for the answer.

About test service: I think we can take exist service in RESTler with blogs and change some logic.
About RESTler: Actually, I have minimal working PoC with HTTP/2 support in RESTler 7.3.0 which based on hyper module. I will update this soon to latest version of RESTler.

But there one little problem. As you know, HTTP/2 is the protocol which work

[2021-08-24 09:28] mynjj opened #304 "Supplying custom dictionary with custom header payload on compile phase results on engine error at test phase"
Hi,

After pulling from the `main` branch, with the `demo_server` supplied swagger specification. I ran the compiler with the following configuration file:
[code]
Where `dict.json` has as contents:
[code]

After compiling, and running `test` it fails with the following on stdout:
[code]

The same works without the `custom_payload_header`, I also tried with `custom_payload_header_unquoted` with the

[2021-08-24 22:27] prasanthbalaji opened #306 "content type: multipart/form-data grammar not getting properly created."
This is the snippet of swagger file.

  },
    "/v2/createmdt": {
      "post": {
        "summary": "MDT creation request",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "tokenOauth"

Grammar created:

# Endpoint: /v2/createmdt, metho

[2021-08-24 23:35] PatGod commented on #304
@mynjj Joshua, thanks for reporting this issue and for your fix!

Your PR #305 has now been merged.

Can you please confirm the problem above is now gone? If so, can you close this issue?

[2021-08-25 07:17] mynjj commented on #304
I confirm the problem is gone 👍  thanks for the review 😄

[2021-08-25 07:17] #304 closed

[2021-08-27 23:07] marina-p commented on #306
Hello @prasanthbalaji,

FormData is currently not supported.

To make sure we cover your scenario when we work on it, if possible, could you please add the relevant part of the Swagger spec?  I don't see any formData parameters in your spec above, only a header parameter.

Related issue (possibly duplicate but will wait for you to post the spec snippet to confirm): #169

Thanks,

Marina

[2021-08-28 07:36] Joris-Kuehl commented on #260
Hey @mbiuki thanks, but the unnecessary quotation no longer occurs with the latest version, since @marina-p closed this in #263.

My remaining problem is that restler uses improper JSON syntax by writing booleans passed through a dependency with a capital letter.

[2021-08-30 05:15] xlx-nju opened #315 "status code: 400 bad request"
When I use restler, almost all the returned status codes are 400 bad request, is that because too many query parameters? is that normal?

shell script
`$RESTler_DIR"/"Restler fuzz --grammar_file $WORKING_DIR/Compile/grammar.py --time_budget 1 --dictionary_file $WORKING_DIR/Compile/dict.json  --settings $WORKING_DIR/Compile/engine_settings.json --no_ssl --token_refresh_interval 100000 --token_refre

[2021-08-30 05:36] marina-p commented on #315
Hello @xlx-nju,

Yes, this is possibly due to the fact that RESTler-generated values for the query parameters are not valid or not all parameters can be used together (you should investigate this for one endpoint+method just to make sure).

As a potential workaround, can you please try to add the following to the engine settings file and see if it improves the coverage (this will cause just requir

[2021-08-30 07:01] marina-p commented on #260
Hello @Joris Kuehl,

Thanks for re-pinging about this.  Could you please try the fix in https://github.com/microsoft/restler-fuzzer/pull/316 and let us know if it fixes the boolean issue?  (It should be merged sometime tomorrow.).  If it doesn't address your problem, could you please include a snippet from your OpenAPI spec?

Thanks,

Marina

[2021-08-30 15:54] HiteshSharma1987 opened #317 "RESTler times out with HEAD on Blob"
RESTler is timing out with HEAD Api on blob. HEAD response headers contain Content-Length field which represents size of the blob.
HEAD’s return body is empty.
RESTler thinks it has to read content-length bytes too and recvRepsonse  times out as there is no data corresponding to it.

Below is an example request.

2021-08-18 04:19:01.461: Sending: 'HEAD /xnsaccount1/containers71eb7015107b49258bbfc1

[2021-08-30 18:58] chetushivanna opened #318 "I dont see restler.exe executable for mac"
I read the Readme and it tells it supports both wondows and Linux. I was successfully able to run this command python ./build-restler.py --dest_dir <full path to restler_bin above>. and it created engine , compiler, restler but i dont see restler executable for Linux. where it gets generates?

[2021-08-30 19:36] #317 closed

[2021-08-30 19:37] marina-p commented on #318
Hello @chetushivanna,

Try the 'restler/restler' executable.

[2021-08-30 21:05] chetushivanna commented on #318
@marina-p  I tried restler/restler it is throwing error not found the directoryor file. even I checked inside the restler directory it got created i couldn't find restler executable

[2021-08-30 22:30] marina-p commented on #318
@chetushivanna  Yes, that command should work.

[2021-08-30 22:51] mbiuki commented on #211
@marina-p,

This is a good short-term solution although I never did this as copying files back and forth can add confusion in the future and inhibits maintaining the economy of mechanism.
A better solution would be to see if there can be a logical intelligence added between the first-time parsing of api spec `Restler compile --api_spec openapi.yaml` and second time running with all setup (with dic

[2021-08-30 23:09] PatGod commented on #211
@marina-p Hum, I am afraid that adding yet another output dir like a 'RestlerJobConfig' folder might confuse users even further, without resolving the main confusion/problem.

My preference would be to try first to improve the documentation by clarifying further what the inputs and outputs of each stage are, especially for the Compile step, including some of the recommendations made above.

OK?

[2021-08-31 06:03] marina-p commented on #277
Hi Daniil,

Yes, absolutely for the POC it sounds good to match the current flow of RESTler and handle each request separately.

RESTler has a parallel mode that was prototyped but (as far as we know) it is not used, where a more natural HTTP/2 implementation would make sense.

[2021-08-31 09:24] #271 closed

[2021-08-31 09:26] Joris-Kuehl commented on #260
Hello @marina-p,
I have just tried out the commit in #316 and the issue is resolved. Thank you!
Joris

[2021-08-31 10:45] higher75 opened #323 "grammar.py does not exist."
ubuntu18.04
python3.8

ERROR: The RESTler grammar file path Compile/grammar.py does not exist.

[2021-08-31 10:46] higher75 commented on #323
can you help me? thank you

[2021-08-31 15:55] mbiuki commented on #323
Are you compiling with RESTler command? Can you describe the steps?

[2021-08-31 17:13] PatGod commented on #284
@marina-p Isn't this issue addressed by PR #320 ? Can we close this?

[2021-08-31 17:17] PatGod opened #324 "auth tokens are sometimes printed in the network.testing logs, even with no_tokens_in_logs on"
Sometimes, the RESTler logs include auth tokens, despite the option no_tokens_in_logs being turned on.

This issue is to track progress on this.

[2021-08-31 17:52] marina-p commented on #284
Closed in PR #320

[2021-08-31 17:52] #284 closed

[2021-09-01 01:53] higher75 commented on #323
Hi. i do these

$ mkdir restler_bin
$ git clone https://github.com/microsoft/restler-fuzzer.git
$ python3.8 ./build-restler.py --dest_dir <Full Path for restler_bin dir>

then

$ cd restler_bin
compiler    engine    restler     resultsAnalyzer
$ cd restler/Compile       --------------------> The grammar.py does not exist.
config.json    defaultDict.json    preprocessed     restler-20210831-063220.

[2021-09-01 01:54] higher75 commented on #323
python3.8 restler-quick-start.py --api_spec_path  <Full path to openapi.yml>   --restler_drop_dir  <Full path to restler_bin dir>

[2021-09-01 01:55] higher75 commented on #323
thanks you!

[2021-09-01 18:48] prasanthbalaji commented on #306
Thanks for providing hints, successfully tested after tweaking grammar.py.

Referred to https://datatracker.ietf.org/doc/html/rfc2046#section-5.1.1

Below is grammar.py  snippet.

# Endpoint: /v2/createMdt, method: Post
request = requests.Request([
    primitives.restler_static_string("POST "),
    primitives.restler_static_string("/"),
    primitives.restler_static_string("v2"),
    primitives.re

[2021-09-01 18:55] mbiuki commented on #315
Note, due to #320 and #284, looks like below should be a valid construct:
[code]
@marina-p, please confirm if the above construct is correct to be placed in `restler_user_settings.json`?
Otherwise, the compiler will fail with this error:
[code]

[2021-09-01 20:02] marina-p commented on #315
@mbiuki

Yes, the above is valid.  However, the error above is due to a bug that will be fixed shortly (it should be possible to omit max_combinations).

[2021-09-02 00:50] #235 closed

[2021-09-02 08:29] #323 closed

[2021-09-02 08:33] higher75 opened #329 "set the mutated value"
Hi ,How can I set a mutated dictionary for the specified field, when I run this project？

[2021-09-02 14:47] c7h opened #330 "RESTler should resolve additionalProperties"
Hi, I have an OpenAPI specification containing $ref  in _additionalProperties_. Following is a simplified version of my swagger spec file (The original can be found here https://github.com/free5gc/Nnrf_NFManagement/blob/master/api/openapi.yaml)

[code]

After compiling, the servedUdrInfo is rendered as fuzzable_object instead of an UdrInfo Object:

`"servedUdrInfo\":{ \"fuzz\": false }`

If I reso

[2021-09-02 18:17] marina-p commented on #330
Hello @c7h,

RESTler does not support additionalProperties right now. It just skips them, and then assigns the default object.

I'll change this issue to 'ehnancement'.  In the meantime, the workaround is as you have done, to reference these properties directly instead of via 'additionalProperties'.

Thanks,

Marina

[2021-09-02 18:32] marina-p commented on #329
Hello @higher75,

If I understand your question correctly, say you have a specific field in the body named "location".  You can tell RESTler to replace all occurences of that field with a list of values using ```restler_custom_payload``` in the dictionary, either via just a string value or the full json pointer.  See [Fuzzing Dictionary documentation](https://github.com/microsoft/restler-fuzzer/bl

[2021-09-02 23:39] PatGod opened #331 "Bug: async polling should terminate as soon as the resource is successfully created"
Async polling should stop as soon as a "201 Created" response is received. This is a perf bug.

I have a fix and will submit a new PR shortly.

[2021-09-03 00:23] #331 closed

[2021-09-03 02:09] higher75 commented on #329
Thanks you
I know that I can set some values in the restler_fuzzable_string field in dict.json, such as:
  "restler_fuzzable_string": [
     "//////////////",
     "################",
     "*************",
     ")))))))))))))",
     "___________________"
   ],
But according to the data packet sent out, I found that the field values are some example values, such as "fuzzstring". If I have many apis

[2021-09-03 04:24] marina-p commented on #329
@higher75

1) Can you please share the command line you are using?  If you have the above 'restler_fuzzable_string' in the dictionary, RESTler should not be sending fuzzstring, we need to investigate further.

2) Regarding your request - do you want _all_ the parameter values to be fuzzed with the above values, regardless of data type?  Right now it needs to be set per type, so 'restler_fuzzable_s

[2021-09-03 10:15] higher75 commented on #329
1.This is the cmd
$  /Restler   fuzz   --grammar_file   Compile/grammar.py   --dictionary_file   Compile/dict.json   --settings Compile/engine_settings.json   --time_budget 0.05   --target_ip 0.0.0.0   --target_port 8080

2. I probably know what you mean, similar to restler_fuzzable_string, restler_fuzzable_int is for all apis and has different type values, and restler_custom_payload can be fuzzed

[2021-09-03 14:31] Jane2197 opened #334 "Support for multiple local server URLs in path level or method/operation level in RESTler grammar"
This is the Open API Specification that is being used to support API endpoints of two different servers.

[code]

When describing the multiple server URLs either in path level or method/operation level as shown above, the generated RESTler grammar doesn't include either of the server IP addresses as shown below.

![multiple_servers_issue](https://user-images.githubusercontent.com/53350076/13202162

[2021-09-03 15:12] Jane2197 opened #335 "Content Type is not reflected into RESTler grammar as described in OpenAPI Specification"
When content types that are different from application/json are described in OpenAPI Specification as shown below. The mentioned content type is not reflected as described, in grammar.py file generated after RESTler Compilation.
[code]
Instead the original content type is replaced with application/json as shown below

[code]

[code]

[code]

[2021-09-03 16:23] Jane2197 opened #336 "Support for digest authentication"
When a authentication type of DIGEST is provided in OpenAPI Specification it is not compiled to RESTler grammar and the REST APIs are fuzzed without the mentioned authentication. Is the Digest authentication supported by RESTler Fuzzer?

[2021-09-03 16:46] Jane2197 opened #337 "Multiple Schema types support for a parameter to be fuzzed"
When multiple schema types are provided for a endpoint parameter that is to be fuzzed using **_allOf_** method that is described at [https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/#allof](url) ,different schema types mentioned in all types are not fuzzed and only first schema type is fuzzed. Following is an example of OpenAPI Specification that contains the method  **_allO

[2021-09-03 16:57] Jane2197 opened #338 "Schema to send a file as request body for an API fuzzing"
Is there a schema method or specific parameter to set to include a local file as a request body when fuzzing an REST endpoint. When tried with schema _**type as string and format as binary**_ in OpenAPI Specification and the compiled grammar when used for fuzzing doesn't show the request body as uploading a file.

[2021-09-08 21:18] marina-p commented on #338
Hello @Jane2197,

Thank you for reporting this issue (and the others you opened).  For this one, RESTler does not currently support/recognize the "binary" format in the specification.  However, you may be able to get this working by modifying the grammar manually.

I've pushed some changes to the **mp/formdata_fix** branch, the commit message has an explanation for how to modify the grammar and di

[2021-09-08 21:24] marina-p commented on #337
Hello @Jane2197,

That's correct, we do not currently have a way to fuzz all of these schema variants of different types.

If this is for simple types such as above, the workaround is to specify
[code]

[2021-09-08 22:17] marina-p commented on #335
Hello @Jane2172,

RESTler does not currently support any content type except json.  Which content type(s) specifically do you need to be supported?

Thanks,

Marina

[2021-09-08 22:28] marina-p commented on #336
Hello @Jane2197,

This authentication type is not supported at this time and is not on our near-term road map.  Contributions are welcome, marking it as help-wanted.

Thanks,

Marina

[2021-09-08 22:35] marina-p commented on #334
Hello @Jane2197,

Yes, it is expected that RESTler does not have the host URL in the grammar.  Then, when the service is tested, the "host" passed in the engine settings is parsed on the fly and injected into the grammar.

**Question for you:** are these API endpoints mostly independent, such that you could split them up into two different specifications that could each be tested independently?  o

[2021-09-09 16:15] c7h commented on #318
is this related to https://github.com/microsoft/restler-fuzzer/issues/128?

[2021-09-09 18:36] PatGod opened #343 "Make regex_path option more robust (to support Python version above 3.8.2)"
This error has been reported with python versions above 3.8.2:

Traceback (most recent call last):
  File "C:\restler_bin\restler\../engine/restler.py", line 465, in <module>
    fuzzing_requests = preprocessing.create_fuzzing_req_collection(args.path_regex)
  File "C:\restler_bin\engine\engine\core\preprocessing.py", line 61, in create_fuzzing_req_collection
    included_requests.add(req)
Attribu

[2021-09-09 19:11] PatGod opened #345 "Add bug_bucket reproducibility data to testing_summary.json"
Data on bug reproducibility should be added to testing_summary.json, to facilitate automatic data collection and post-processing after RESTler runs.

A PR for this is coming up shortly.

[2021-09-09 19:45] #343 closed

[2021-09-09 20:30] #345 closed

[2021-09-10 04:09] #270 closed

[2021-09-12 11:15] rreexxllii0310 commented on #169
Hello @marina-p ,
Sorry for lately reply.
We have successfully sent form data parameters by edit the grammar, thank you!

[2021-09-12 11:15] #169 closed

[2021-09-14 08:58] dansibleadm commented on #277
Hi Marina!

I'm sorry for long answer. I was in vacation :)

Well, I updated my PoC to 8.0.0 of original RESTler version.
For now I will try to change logic of test blog's service for http/2 supporting and will test it.

How can I provide you with this PoC so that you can take a look at it?

Thanks,
Daniil

[2021-09-16 14:40] c7h opened #348 "Why are there more values fuzzed than specified in the grammar?"
Hi!
I defined in my (custom) dict.json that a fuzzable datetime object  should look like this:

[code]
However, when I run _restler test_, I see in the network testing log that It's testing with a group like this:
[code]
This leads to the tests failing since the format is not supported. How do I make sure only my dict is used?

[2021-09-16 15:54] mbiuki commented on #348
I've had the same problem reported here: https://github.com/microsoft/restler-fuzzer/issues/153#issuecomment-817670148 and here: https://github.com/microsoft/restler-fuzzer/issues/153#issuecomment-820941267 and their subsequent correspondence in that ticket #153 .
Let me know if you get it to work and I would follow your sequence, otherwise, I still have the same issue. Thanks.

[2021-09-16 16:39] PatGod commented on #348
After modifying your dictionary (like done above), please re-compile and then re-test -- after re-compilation, the old 'definitely not mine' values should disappear. (If not, please let us know - that would be a bug.)

Thanks!

[2021-09-16 16:44] PatGod commented on #348
FYI, the need for re-compilation after modifying the fuzzing dictionary has been clarified (we hope!) recently in https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/FuzzingDictionary.md#how-to-configure-the-dictionary

If this is not clear, please let us know. Thanks again for your feedback.

[2021-09-16 17:18] mbiuki commented on #348
@PatGod , Thanks for your clarification. Maybe this is the solution to the problem that we are experiencing. I can follow your steps and let you know if this solved the issue. Nevertheless, manually copying config and dict out of the Compile folder seems a bit ad-hoc. Is there any other better way to address this challenge like the ideas that are passed around in #211, or even, caching and compari

[2021-09-16 17:39] PatGod commented on #348
@mbiuki Well, in my opinion, the solution is always to compile with a config.json file, and never use the compile --api_spec option.

The compile --api_spec option was created just before open-sourcing RESTler in an attempt to simplify the workflow for first-time users.

However, for advanced/'production' usage, we always compile with a config.json file, which allows us to customize the dictionary

[2021-09-16 18:16] mbiuki commented on #348
Ok, so it seems we could save some redundancy in compilation. I do not understand why one needs to take dict and config out of Compile folder? dict, setting, and config files are ``inputs'' to the compiler. Every time compilation happens, the compiler should look at those files and generate `grammar.py` and its JSON counterpart accordingly. I don't see the reason why dict and config files could be

[2021-09-16 19:26] PatGod commented on #348
This step is needed only if you start with the compile --api_spec ... option. See https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/FuzzingDictionary.md#how-to-configure-the-dictionary which starts with " When you first try RESTler, using the command restler.exe compile --api_spec <your spec>, ..."

The compiler does add (typically) values to the dict.json and engine_settings.j

[2021-09-21 08:01] Jane2197 commented on #334
Hi,

Thanks for the response, the use case in our testing is the former where we have independent API endpoints. Yes, we are currently performing the test by splitting up the specifications, but since we are fuzzing each server for 2 days and we have total four servers, it is taking 8 days total for our testing. Hence we were looking if it possible to add all servers in a single specification.

[2021-09-21 09:24] Jane2197 commented on #335
Hi,

The content types that we have in our specification and want support are as follows.

- text/plain; charset=us-ascii
- application/cbor
- application/text
- application/octet-stream

Thank you

[2021-09-21 09:56] Sriram7891 opened #349 "Error Code Mapping Issue"
Team,

As am tested the Restler with a swagger API, the checker validation is running through fine, however I need to clarify on the error  buckets for the error mapping. I get error codes of 400, 404 and 500 for some of the API search. I basically want to under the below part where for 500 error code I see the "Is Failure" and "Is Bug" is both TRUE, What does this mean in this error code and how

[2021-09-22 08:26] Jane2197 commented on #338
Hi,

I tried file uploading with the mentioned branch by adding required changes in grammar.py and dict.json, but observed following issues

1. For a file with extension **.bin** shows the following errors when running RESTler in **TEST** mode

- The prompt after executing test mode command shows the following error

-  The log in file **EngineStdOut.txt** inside Test folder shows the following

2

[2021-09-22 14:15] dansibleadm commented on #277
In addition:

We just not change anything in service. For our tests we can just up proxy with http/2 supports: nginx e.g.

[2021-09-22 15:54] marina-p commented on #338
@Jane2197 thanks for trying this out and for the detailed logs. I see now the issue with the file upload.

I will get back to you when back from vacation next week with a fix.

Thanks,

Marina

[2021-09-23 09:25] larsivi commented on #11
I found this today, and it seems the compiler only supports the date-time format for strings, of the ones stated in the swagger specification. For me, this caused issues with 'date'. I'm on 7.4, but from the code this seems to still be a problem in 8. I just added 'date' to the 'date-time' case in the swaggervisitor in my local source tree, but presumably this is not the fully correct solution (an

[2021-09-23 09:58] agargi-intel opened #350 "Support for mutual TLS in Restler"
I see there is provision to add certs. from client side for SSL, is there a way to enable mutual TLS and provide additional cert. and Key to underlying SSL lib ?

[2021-09-24 13:53] ananddhongdi opened #351 "Exception Creating Socket"
Hi,

I am trying to use restler in fuzz/test mode. I need to run this for https server.
Even after providing "--settings restler-test/restler_user_settings.json" in command line, getting below error:

File: logs/network.testing.txt
'Exception Creating Socket: [SSL] PEM lib (_ssl.c:3965)'

file: restler-test/restler_user_settings.json
   {
       "client_certificate_path": "/home/myuser/test_certs/

[2021-09-24 19:12] mbiuki commented on #348
Can you clarify step 4 (https://github.com/microsoft/restler-fuzzer/blob/main/docs/user-guide/FuzzingDictionary.md#how-to-configure-the-dictionary):

add new values to which file? To `dict.json` that is taken out of the `Compile` folder? or to `grammar.py`?

[2021-09-24 19:23] mbiuki opened #353 ""restler_custom_payload..." parameter options in dict.json"
I have made some confusion to myself about "`restler_custom_payload_`" parameters that are available for `dict.json`.

Could you please explain what is the difference between `restler_custom_payload` and `restler_custom_payload_query`?

The query parameters are same as body parameters, are they not?

Also their difference with:
`restler_custom_payload_uuid4_suffix`?

[2021-09-24 19:50] mbiuki commented on #348
You must also clarify in step 4 that when running compile for second time using the `config.json` that we copied out of the `Compile` folder, the compile command must run from the Compile folder, o.w., it will not work.

I tried compiling from the root dir of the project where the `Compile` folder was created after the first time compiling (first time I compiled from the root directory of the proj

[2021-09-24 19:51] PatGod commented on #348
Hi @mbiuki, regarding your question above, these 4 steps are about adding new restler_custom_payload properties in the dictionary dict.json.

Once you have recompiled with a new dict.json with new restler_custom_payload properties, you can change their values (on the right hand sides) without re-compiling. (Indeed, the compiler generates placeholders for the left-hand side properties in grammar.py

[2021-09-24 19:57] PatGod commented on #353
`restler_custom_payload `are for request body parameters.

`restler_custom_payload_query` are similar but for the query part of REST API requests.

`restler_custom_payload_uuid4_suffix` can be used to specify a constant value to which will be appended a randomly-generated suffix.